:root {
	--animation-offset: 100px;
}

/* Navicon */
$navicon-width: 28px;
$navicon-height: 1px;
$navicon-gutter: 7px;
$navicon-color: theme('colors.black');
$navicon-color-active: $navicon-color;
$navicon-border-radius: 0;

/* Paths */
$path-img: '../img/';
$path-fonts: '../fonts/';

/* Debug */
$debug-css: false;
