// Typography
$line-height: 1.4;
$font-base: 16px;

// Font stacks
$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: "Andale Mono", AndaleMono, monospace;

// Paths
$path-img: '../img/';
$path-fonts: '../fonts/';

// Colors
$blue: #0288d1;
$red: #d9534f;
$yellow: #f0ad4e;
$green: #5cb85c;
$grey: #666;
$grey-light: #eee;
$grey-dark: #222;
$white: #fff;
$black: #000;

$color-primary: $blue;
$color-secondary: $yellow;
$color-tertiary: $red;
$color-success: $green;
$color-warning: $yellow;
$color-error: $red;
$color-selection: #b3d4fc;

// Media queries
$mq-xs: em(480px);
$mq-sm: em(768px);
$mq-md: em(992px);
$mq-lg: em(1200px);

// Grid
@include gridle_setup((
	context: 12,			// number of columns in your grid
	gutter-width: 20px,		// size of the gutters
	gutter-left: 10px,		// size of left gutter
	gutter-right: 10px,		// size of right gutter
	states-classes: false,	// if we need to generate the states classes
	classes: true,			// is used to generate all the classes
	classes-prefix: ''		// the prefix used for all classes
));

@include gridle_register_state(xs, (
	min-width : $mq-xs,
));

@include gridle_register_state(sm, (
	min-width : $mq-sm,
));

@include gridle_register_state(md, (
	min-width : $mq-md,
));

@include gridle_register_state(lg, (
	min-width : $mq-lg,
));

@include gridle_generate_classes();

// Buttons
$button-radius: em(5px);
$button-border: 1px;
$button: (
	primary: (
		background: ($color-primary, $color-secondary),
		text: ($white, $black),
		border: ($black, $color-primary),
	),
	secondary: (
		background: ($color-secondary, $color-tertiary),
		text: ($white, $black),
		border: ($black, $grey),
	),
	success: (
		background: ($color-success, $color-primary),
		text: ($white, $black),
		border: ($black, $color-primary),
	),
	warning: (
		background: ($color-warning, $color-success),
		text: ($white, $black),
		border: ($black, $color-primary),
	),
	error: (
		background: ($color-error, $color-success),
		text: ($white, $black),
		border: ($black, $color-primary),
	)
);

// Modal
$colorbox-bg: #fff;
$colorbox-overlay: #000;
$colorbox-text: #F3F3F3;
$colorbox-button: #9fa7a9;
$colorbox-button-hover: #788083;
$colorbox-button-dark: #333;

// Debug
$debug-mq: true;
