// Debug vertical rhythm
@if $debug-rhythm {
	html {
		$grid-color: rgba(red, 0.15);
		background: linear-gradient($grid-color, $grid-color 1px, transparent 1px);
		background-size: 1px $base-line-unit;
	}
}
