.cart_totals {
    @apply relative;

    .cart_totals__body {
        @apply bg-gray-100 rounded-theme py-0 px-6 lg:py-12 lg:px-32;
    }

    .shop_table {
        @apply bg-gray-100;


        tr {
            @apply border-b border-gray-300;
            &:last-child {
                @apply border-0;

                td {
                    @apply border-0;
                }
            }

            &.order-total {
                .amount {
                    @apply text-4xl;
                }
            }
        }

        td {
            @apply border-0;
        }

        

    }

    .wc-proceed-to-checkout {
        @apply flex justify-end w-full mt-0 lg:mt-6;
    }
}

