.minicart {

	.overlay-panel__content {
		@apply overflow-y-hidden;
	}

	.woocommerce-cart & {
		@apply hidden;
	}

	.widgettitle {
		@apply hidden;
	}

	.widget_shopping_cart_content {

		.woocommerce-mini-cart__empty-message {
			@apply p-8;
		}

		.woocommerce-mini-cart {
			@apply absolute inset-0 h-screen w-full pt-40 pb-12 overflow-y-auto;
			-ms-overflow-style: none;  /* IE and Edge */
  			scrollbar-width: none;  /* Firefox */
	    	&::-webkit-scrollbar { @apply hidden; }

			.woocommerce-mini-cart-item {
				@apply relative block overflow-hidden py-1 px-9 mt-2 mb-1 leading-7;

				&:hover {
					.remove {
						@apply opacity-100 visible transform-none;
					}
				}

				a:not(.remove) {
					@apply font-bold;
				}

				.remove {
					@apply absolute top-0 left-7 text-white text-center rounded-full bg-red-500 z-10 opacity-0 invisible transform transition-all -translate-x-3 ease-default duration-500;
					height: 20px;
					width: 20px;
					line-height: 18px;
				}

				.attachment-woocommerce_thumbnail,
				.woocommerce-placeholder  {
					@apply block rounded-theme mr-6 w-28 h-auto float-left;
				}

				.quantity {
					@apply flex items-baseline;

					> .amount {
						@apply pl-1 font-bold;
					}

					del {
						@apply text-red-500 text-base order-2 pl-1;

						.amount {
							@apply text-base font-normal text-gray-300;
						}
					}

					ins {
						@apply no-underline;

						.amount {
							@apply pl-1;
						}

						* {
							@apply font-bold;
						}
					}
				}
			}
		}

		.woocommerce-mini-cart__total {
			@apply relative z-10 bg-white px-9 py-6;

			strong {
				@apply text-xl font-normal;

			}
			.amount {
				@apply inline-block text-4xl font-bold animate-bounce;
			}
		}

		.woocommerce-mini-cart__buttons {
			@apply relative z-10 bg-white px-9 py-0 pb-4 border-b border-gray-200 grid grid-cols-2 gap-6;
		}
	
	}
}