.price {
	display: block;
	@apply mb-6;

	.amount {
		@apply text-xl;
		@apply text-primary;
		font-weight: bold;
	}

	del {
		@apply text-gray-500;
		.amount {
			@apply text-base;
			@apply text-gray-500;
		}
	}

	ins {
		text-decoration: none;
	}
}