.quantity {
    @apply flex flex-none justify-center items-center relative bg-gray-200 overflow-hidden w-32 rounded-theme;

    .screen-reader-text {
        @apply sr-only;
    }

    .plus,
    .minus {
        @apply flex items-center m-0 h-12 !important;
        .icon {
            @apply h-4 transform transition-all ease-default duration-500;
        }
        &:hover {
            .icon {
                @apply text-primary scale-150;
            }
        }
    }

    .plus { @apply pr-4 pl-0; }
    .minus { @apply pl-4 pr-0; }

    .qty {
        @apply w-12 py-3 m-0 bg-gray-200 text-center focus:ring-transparent border-transparent !important;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: textfield;
        }
    }
}