.widget_price_filter {

}


.price_slider {
	@apply mt-6 mb-3;
}

.price_slider_amount {
	text-align: right;
	line-height: 2.4em;
	font-size: 0.8751em;
}

.price_slider_amount .button {
	font-size: 1.15em;
}

.price_slider_amount .button {
	float: left;
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	cursor: pointer;
	@apply bg-primary;
	outline: none;
	top: -0.28em;
	margin-left: -0.5em;
}

.ui-slider .ui-slider-handle:last-child {
	margin-left: -0.5em;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: 0.7em;
	display: block;
	border: 0;
	background: none repeat scroll 0 0 theme('colors.primary');

	border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
	@apply bg-gray-200 rounded-theme;
}

.ui-slider-horizontal {
	height: 0.5em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}
