.widget_layered_nav {
	@apply relative;

	.woocommerce-widget-layered-nav-list {
		@apply m-0 list-none;

		&__item {
			@apply relative mb-2;

			a {
				&:before {
					content: '';
					@apply relative inline-block text-center text-white mr-3 rounded-full align-middle border border-gray-400 h-5 w-5;
					@apply transition-all ease-default duration-500;
				}
			}

			&--chosen {

				a {
					@apply text-primary font-bold;

					&:before {
						content: "";
						@apply bg-primary border-primary;
						background-image: url('../img/icons/check-light.svg');
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 10px 10px;
					}
				}

				.count {
					@apply text-primary;
				}

			}

			&:hover {
				a {
					&:before {
						@apply bg-primary border-primary;
					}
				}	
			}

		}

	}
}


.widget_layered_nav_filters {
	@apply mb-3 py-1 px-6 flex lg:flex-wrap lg:justify-start items-center lg:space-x-3 lg:px-0 lg:py-0 lg:mb-0 lg:pb-12 ;
	@apply scroll-snap-align-center overflow-y-hidden overflow-x-auto whitespace-nowrap;
	@apply transform -translate-x-2/4 w-screen ml-1/2 lg:rounded-theme lg:ml-auto lg:translate-x-0 lg:w-auto;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	&::-webkit-scrollbar { @apply hidden; }

	.widgettitle {
		@apply text-sm inline-block lg:text-lg items-center;

		&:before {
			content: '';
			display: inline-block;
			background-image: url('../img/icons/options.svg');
			height: 22px;
			width: 22px;
			margin-right: 10px;
			vertical-align: middle;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	ul {
		@apply px-6 m-0 space-x-3 lg:px-0 flex lg:flex-wrap lg:pl-0;
		
		li {
			@apply relative items-center overflow-hidden m-0 inline-block whitespace-normal scroll-snap-align-center lg:my-px;

			a {
				@apply border border-primary no-underline text-primary pl-4 pr-3 py-1 rounded-theme align-middle flex items-center font-bold;
				@apply transition-all ease-default duration-300;

				&:after {
					content: '';
					@apply inline-block text-center border border-primary right-3 rounded-full align-middle h-5 w-5 ml-2;
					@apply transition-all ease-default duration-300;

				}
			}

			&.chosen {
				a {
					&:after {
						content: "";
						@apply border border-primary;
						background: url('../img/icons/close.svg') center center no-repeat;
						background-size: 10px 10px;
					}
				}
			}

			&:hover {
				a {
					@apply bg-primary text-white;
					&:after {
						@apply bg-white border-white;
					}
				}
			}

		}
	}
}