.woocommerce-loop-product {
	position: relative;
	@apply bg-white;
	@extend .card;
	text-align: center;

	.added_to_cart {
		display: block;
		@apply mb-6;
	}

	.onsale {
		position: absolute;
		padding: 10px;
		@apply text-white;
		left: 0;
		@apply bg-green-500;
	}

	.woocommerce-placeholder,
	.attachment-woocommerce_thumbnail {
		width: 100%;
		@apply rounded-theme;
	}

	.button {
		transition: color 0.2s ease-out;

		&.loading {
			position: relative;
			color: transparent;
			@apply bg-secondary;
			@apply border-secondary;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -20px;
				margin-top: -20px;
				border: 4px solid transparent;
				border-top: 4px solid;
				@apply border-primary;
				animation: rotating 1.2s infinite linear;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}

	}
}

.woocommerce-loop-product__link {
	@extend .card__link;
}

.woocommerce-loop-product__title {
	@apply text-lg;
	@apply pt-6;
	@apply mb-3;
}



body.woocommerce {
	.page--woocommerce-archive {
		.products {
			&.columns-1 { @apply grid grid-cols-1 gap-4; }
			&.columns-2 { @apply grid grid-cols-1 lg:grid-cols-2 gap-4; }
			&.columns-3 { @apply grid grid-cols-1 lg:grid-cols-3 gap-4; }
			&.columns-4 { @apply grid grid-cols-1 lg:grid-cols-4 gap-4; }
			&.columns-5 { @apply grid grid-cols-1 lg:grid-cols-5 gap-4; }
			&.columns-6 { @apply grid grid-cols-1 lg:grid-cols-6 gap-4; }
		}
	}
}