.woocommerce-loop-product {
	@apply relative overflow-hidden mb-9;

	.added_to_cart {
		@apply block mb-6;
	}

	.onsale {
		@apply absolute px-4 py-1 top-3 left-3 text-white bg-green-500 rounded-theme z-10;
	}

	.woocommerce-placeholder,
	.attachment-woocommerce_thumbnail {
		@apply relative overflow-hidden w-full rounded-theme;
	}

	.price {
		@apply block my-3 overflow-hidden;
	}

	.button {
		@apply mt-3;
		transition: color 0.2s ease-out;

		.minicart & {
			@apply text-sm px-4 py-2;
		}

		&.loading {
			color: transparent;
			@apply relative bg-primary border-primary;

			&:after {
				content: "";
				top: 50%;
				left: 50%;
				margin-left: -20px;
				margin-top: -20px;
				border: 3px solid rgba(255,255,255,0.2);
				border-top: 3px solid #fff;
				width: 40px;
				height: 40px;
				@apply absolute rounded-full animate-spin;
			}
		}

	}
}

.woocommerce-loop-product__title {
	@apply text-black dark:text-white text-lg font-bold pt-6 pb-2;
	.minicart & {
		@apply text-base;
    }
}

.woocommerce-loop-product__description {
	* {
		@apply text-gray-500 text-base mb-3;
		.minicart & {
			@apply text-sm;
		}
	}
}

body.woocommerce-page.post-type-archive-product,
body.woocommerce-page.archive {
	.products {
		&.columns-1 { @apply grid grid-cols-1 gap-6; }
		&.columns-2 { @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6; }
		&.columns-3 { @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6; }
		&.columns-4 { @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6; }
		&.columns-5 { @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6; }
		&.columns-6 { @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-6; }
	}
}