.woocommerce-product-gallery {
	@apply relative overflow-hidden rounded-theme;

	.flex-control-nav {
		@apply flex mt-3 space-x-3 overflow-auto rounded-theme lg:absolute lg:top-0 lg:left-0 lg:w-24 lg:h-full lg:mt-0 lg:space-x-0 lg:space-y-3 lg:flex-col;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */

		&::-webkit-scrollbar {
 			display: none;
		}

		img {
			@apply rounded-theme cursor-pointer w-auto h-auto;
		}
	}

	.flex-viewport {
		@apply flex overflow-hidden rounded-theme lg:ml-28;
	}
}



.woocommerce-product-gallery__wrapper {
	@apply grid grid-cols-2 gap-6;

	.flex-viewport & {
		@apply flex gap-0;
	}

}

.woocommerce-product-gallery__image {
	@apply block overflow-hidden rounded-theme;

	img {
		@apply w-full h-auto;
	}

	&:first-child {
		@apply col-span-full;
	}

}


.woocommerce-product-gallery__trigger {
	@apply hidden;
}