.woocommerce-loop-product {
	@apply relative mb-9;

	.added_to_cart {
		@apply block mb-6;
	}

	.woocommerce-placeholder,
	.attachment-woocommerce_thumbnail {
		@apply card-image;
	}

	.button {
		@apply mt-5;
		transition: color 0.2s ease-out;

		.minicart & {
			@apply text-sm px-4 py-2;
		}
	}

	&:hover {
		.woocommerce-loop-product__additional-image {
			@apply opacity-100;
		}
	}
	
}


.woocommerce-loop-product__title {
	@apply card-title;
	.minicart & {
		@apply text-base;
    }
}

.woocommerce-loop-product__description {
	* {
		@apply card-description;
		.minicart & {
			@apply text-sm;
		}
	}
}


.woocommerce-loop-product__additional-image {
	@apply absolute top-0 w-full h-auto opacity-0 transition-all duration-300;
	img {
		@apply card-image;
	}
}

body.woocommerce-page.post-type-archive-product,
body.woocommerce-page.archive {
	.products {
		@apply relative block w-full gap-6;
		&.columns-1 { @apply grid grid-cols-1; }
		&.columns-2 { @apply grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2; }
		&.columns-3 { @apply grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3; }
		&.columns-4 { @apply grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4; }
		&.columns-5 { @apply grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-5; }
		&.columns-6 { @apply grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-6; }
	}
}