.woocommerce-cart-form {
	@apply relative;
}

.woocommerce-cart-form__contents {
	@apply relative border-t border-gray-200;

	.actions {
		@apply relative py-9 lg:py-12 max-w-4xl mx-auto;

		.button[name="update_cart"] {
			@apply relative p-0 text-black underline bg-transparent border-0 md:absolute md:right-0;
		}

		.coupon {
			@apply relative block lg:inline-block;

			.coupon__link {
				@apply cursor-pointer underline;
			}

			.coupon__content {
				@apply items-center py-6 max-w-3xl hidden;

				&.is-coupon-open {
					@apply flex;
				}
				
				label {
					@apply hidden !important;
				}

				.button {
					@apply mb-0 ml-3 py-2;
				}
			}
		}
	}
}

.woocommerce-cart-form__cart-item {
	@apply grid grid-cols-12 gap-6 py-6 border-b border-gray-200;

	/* THUMBNAIL */
	.product-thumbnail {
		@apply col-span-4 md:col-span-2;
		.attachment-woocommerce_thumbnail,
		.woocommerce-placeholder {
			@apply rounded-theme w-full h-auto;
		}
	}
	

	/* NAME */
	.product-name {
		@apply col-span-8 md:col-span-4 lg:col-span-3 text-black;
		a {
			@apply text-black font-bold text-base;
		}
	}

	.product-price {
		@apply flex;
		del {
			@apply order-2 pl-2;
		}
	}


	/* QUANTITY */
	.product-quantity {
		@apply col-span-4 md:col-span-2 lg:col-start-7;
	}


	.product-subtotal {
		@apply col-span-8 md:col-span-4 lg:col-span-3 lg:col-start-10 text-right text-2xl md:text-4xl font-bold;
	}

}


/* .cart {
	border: 10px solid red;
	.quantity {
		display: inline-block;
		vertical-align: bottom;
		@apply mr-6;
	}

	.qty {
		margin-bottom: 0;
	}

	.single_add_to_cart_button {
		display: inline-block;
		vertical-align: bottom;
	}

	.screen-reader-text {
		@apply sr-only;
	}

	.product-thumbnail {
		float: left;
		width: 23%;
		padding-right: 10px;

		@screen md {
			width: 80px;
			float: none;
			margin-right: 0;
		}

		.attachment-woocommerce_thumbnail {
			@apply rounded-theme;
		}

	}

	.product-subtotal {
		font-weight: bold;
	}

	.product-name {

		a {
			text-decoration: none;
			@apply text-black;

			// Solo mobile
			@media ( max-width: theme('screens.md') ) {
				@apply text-sm;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
			}

			&:hover {
				@apply text-primary;
			}
		}
	}

	.actions {
		border: 0;
		padding-left: 0;
		padding-right: 0;
		background: transparent;

		@screen md {
			@apply mt-12;
		}

		.coupon {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;

			@media ( max-width: theme('screens.md') ) {
				@apply border;
				@apply border-gray-500;
				display: block;
				@apply pl-6;
				@apply pr-6;
			}

			@screen md {
				display: inline-block;
				float: left;
			}

			.button {
				margin-bottom: 0;

				@media ( max-width: theme('screens.md') ) {
					font-size: 12px;
					display: block;
					padding: 0;
					@apply mb-12;
				}
			}
		}

		.coupon__content {
			display: none;
			&.is-coupon-open {
				display: block;
			}
		}

		.coupon__link {
			text-decoration: underline;
			cursor: pointer;

			&:hover {
				@apply text-primary;
			}

			i {
				@apply text-black;
				@apply mr-3;
			}
		}

		input {
			display: inline-block;
			vertical-align: top;
			width: auto;
			margin: 0;
		}

		> .button {
			background: transparent;
			@apply text-black;
			border-color: transparent;

			padding: 0;
			line-height: normal;

			@screen md {
				margin-bottom: 0;
				float: right;
			}

			i {
				@apply mr-3;
			}
		}

	}

	.variation {

		@apply flow-root;
		color: grey;
		font-style: italic;

		dt {
			float: left;
			clear: left;
			margin-bottom: 0;
		}

		dd {
			float: left;
			margin-left: 0;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 0;
		}

	}

} */