# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs.: http://editorconfig.org

# Set to "true" to stop .editorconfig files search on current file.
root = true

# Style for all files
[*]

# Set to "tab" or "space" to use hard tabs or soft tabs respectively
indent_style = tab

# A whole number defining the number of columns used to represent a tab character
tab_width = 4

# A whole number defining the number of columns used for each indentation level and the width of soft tabs (when supported)
# indent_size = 4

# Set to "lf", "cr", or "crlf" to control how line breaks are represented
end_of_line = lf

# Set to "latin1", "utf-8", "utf-8-bom", "utf-16be" or "utf-16le" to control the character set
charset = utf-8

# Set to "true" to remove any whitespace characters preceding newline characters and "false" to ensure it doesn't.
trim_trailing_whitespace = true

# Set to "true" ensure file ends with a newline when saving and "false" to ensure it doesn't.
insert_final_newline = true

# Style for Markdown files
[*.md]

# Trim trailing whitespace
trim_trailing_whitespace = false
