{
	"extends": "airbnb-base",
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jquery": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": ["error", { "allowIndentationTabs": true }],
		"class-methods-use-this": "off",
		"no-plusplus": "off",
		"no-restricted-globals": "off",
		"max-len": [
			"warn",
			{
				"code": 120,
				"ignoreUrls": true,
				"ignoreStrings": true,
				"ignoreComments": true,
				"ignoreTemplateLiterals": true
			}
		]
	},
	"globals": {
		"TimelineLite" : false,
		"TimelineMax" : false,
		"TweenLite" : false,
		"TweenMax" : false,
		"Back" : false,
		"Bounce" : false,
		"Circ" : false,
		"Cubic" : false,
		"Ease" : false,
		"EaseLookup" : false,
		"Elastic" : false,
		"Expo" : false,
		"Linear" : false,
		"Power0" : false,
		"Power1" : false,
		"Power2" : false,
		"Power3" : false,
		"Power4" : false,
		"Quad" : false,
		"Quart" : false,
		"Quint" : false,
		"RoughEase" : false,
		"Sine" : false,
		"SlowMo" : false,
		"SteppedEase" : false,
		"Strong" : false,
		"Draggable" : false,
		"SplitText" : false,
		"VelocityTracker" : false,
		"CSSPlugin" : false,
		"ThrowPropsPlugin" : false,
		"BezierPlugin" : false,
		"wpcf7": false
	}
}
