{
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            "warn",
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "quotes": [
            "warn",
            "single"
        ],
        "semi": [
            "warn",
            "always"
        ],
        "max-len": [
            "warn",
            {
                "code": 120,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreComments": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "padded-blocks": [
            "warn",
            "always"
        ],
        "space-before-function-paren": [
            "warn",
            "never"
        ],
        "space-in-parens": [
            "warn",
            "never"
        ],
        "no-unused-vars": "off",
        "no-console": "off",
        "no-undef": "off"
    }
}
