#########################################
# Specific for project
#########################################

# Write here


#########################################
# Database
#########################################

*.sql
*.sqlite
*.sqlite3


#########################################
# Dropbox
#########################################

.dropbox
.dropbox/*


#########################################
# Env
#########################################

.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local


#########################################
# Logs
#########################################

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
log.txt


#########################################
# Node
#########################################

node_modules


#########################################
# MacOS
#########################################

.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
.Spotlight-V100
.Trashes


#########################################
# Sass
#########################################

*.sass-cache


#########################################
# Sitemap
#########################################

sitemap.*


#########################################
# Editors
#########################################

sftp-config.json
sftp-config-alt.json
*.sublime-workspace
.ftpconfig
.remote-sync.json
.ftpignore
*.code-workspace
.vscode


#########################################
# Subversion
#########################################

.svn/


#########################################
# Windows
#########################################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


#########################################
# Next.js
#########################################

.next
out

#########################################
# Vercel
#########################################

.vercel
