#########################################
# Specific for project
#########################################

# Write here


#########################################
# Database
#########################################

*.sql
*.sqlite
*.sqlite3


#########################################
# Dropbox
#########################################

.dropbox
.dropbox/*


#########################################
# Logs
#########################################

*.log
log.txt


#########################################
# Node
#########################################

npm-debug.log
node_modules


#########################################
# OSX
#########################################

.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
.Spotlight-V100
.Trashes


#########################################
# Sass
#########################################

*.sass-cache


#########################################
# Sitemap
#########################################

sitemap.*


#########################################
# Editors
#########################################

sftp-config.json
sftp-config-alt.json
*.sublime-workspace
.ftpconfig
.remote-sync.json


#########################################
# Subversion
#########################################

.svn/


#########################################
# Windows
#########################################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
