// Font face : @include font-face( 'fontname', 'filename' );
@mixin font-face($family, $filename, $style: normal, $weight: normal) {

	@font-face {
		font-family: $family;
		font-display: auto;
		src: url('#{$filename}.eot'); // IE9 compat
		src: url('#{$filename}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('#{$filename}.woff') format('woff'), // Standards
			url('#{$filename}.ttf') format('truetype'), // Safari, Android, iOS
			url('#{$filename}.svg##{$family}') format('svg'); // iOS
		font-weight: $weight;
		font-style: $style;
	}

}
