/*  ==========================================================================
	WordPress WYSIWYG editor styles
	==========================================================================  */

.entry-content img {
	margin: 0 0 1.5em 0;
	max-width: 100%;
	height: auto;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter,
img.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption {
	margin-bottom: 1.5em;
	padding-top: 5px;
	text-align: center;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	margin: 0;
	font-size: 10px;
	line-height: 1.5;
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}

blockquote.left {
	float: left;
	margin-right: 20px;
	margin-left: 0;
	width: 33%;
	text-align: right;
}

blockquote.right {
	float: right;
	margin-right: 0;
	margin-left: 20px;
	width: 33%;
	text-align: left;
}

.gallery dl { }
.gallery dt { }
.gallery dd { }
.gallery dl a { }
.gallery dl img { }
.gallery-caption { }

.size-full { }
.size-large { }
.size-medium { }
.size-thumbnail { }