/* Typography */

$line-height: 1.4;
$font-base: 16;


/* Font stacks */

$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;;
$font-monospace: "Andale Mono", AndaleMono, monospace;


/* Colors */

$white: #fff;
$black: #000;
$grey: #444;
$light-grey: #F3F3F3;
$dark-grey: #222;

/* Text */

$color-text: $grey;
$color-link: $grey;
$color-hover: $dark-grey;


/* Media query*/

$mq-large: 960;
$mq-small: 640;


/* Colorbox */

$colorbox-text: $grey;
$colorbox-color-button: #9fa7a9;
$colorbox-color-hover: #788083;
$colorbox-close-hover: #333;


/* Directory */

$dir-img: 'img';