$breakpoints: map-merge(( default: 0px ), $breakpoints);

@each $key, $value in $breakpoints {
	@include media('>=#{$key}') {
		$breakpoint: if($key == default, '', \@#{$key});

		.animate#{$breakpoint} {
			animation-duration: 0.8s;
			animation-fill-mode: both;
		}

		.animate--infinite#{$breakpoint} {
			animation-iteration-count: infinite;
		}

		.animate--fade-in#{$breakpoint} {
			animation-name: fade-in;
		}

		.animate--fade-in-up#{$breakpoint} {
			animation-name: fade-in-up;
		}

		.animate--fade-in-right#{$breakpoint} {
			animation-name: fade-in-right;
		}

		.animate--fade-in-down#{$breakpoint} {
			animation-name: fade-in-down;
		}

		.animate--fade-in-left#{$breakpoint} {
			animation-name: fade-in-left;
		}

		.animate--fade-out#{$breakpoint} {
			animation-name: fade-out;
		}

		.animate--fade-out-up#{$breakpoint} {
			animation-name: fade-out-up;
		}

		.animate--fade-out-right#{$breakpoint} {
			animation-name: fade-out-right;
		}

		.animate--fade-out-down#{$breakpoint} {
			animation-name: fade-out-down;
		}

		.animate--fade-out-left#{$breakpoint} {
			animation-name: fade-out-left;
		}

		.animate--slide-in-up#{$breakpoint} {
			animation-name: slide-in-up;
		}

		.animate--slide-in-right#{$breakpoint} {
			animation-name: slide-in-right;
		}

		.animate--slide-in-down#{$breakpoint} {
			animation-name: slide-in-down;
		}

		.animate--slide-in-left#{$breakpoint} {
			animation-name: slide-in-left;
		}

		.animate--slide-out-up#{$breakpoint} {
			animation-name: slide-out-up;
		}

		.animate--slide-out-right#{$breakpoint} {
			animation-name: slide-out-right;
		}

		.animate--slide-out-down#{$breakpoint} {
			animation-name: slide-out-down;
		}

		.animate--slide-out-left#{$breakpoint} {
			animation-name: slide-out-left;
		}

		.animate--shake#{$breakpoint} {
			animation-name: shake;
		}
	}
}
