$breakpoints: map-merge(( default: 0px ), $breakpoints);

@each $key, $value in $breakpoints {
	@include media('>=#{$key}') {
		$breakpoint: if($key == default, '', \@#{$key});

		.border--0#{$breakpoint} {
			border: 0;
		}

		.border-top--0#{$breakpoint} {
			border-top: 0;
		}

		.border-bottom--0#{$breakpoint} {
			border-bottom: 0;
		}

		.border-left--0#{$breakpoint} {
			border-left: 0;
		}

		.border-right--0#{$breakpoint} {
			border-right: 0;
		}
	}
}
