@each $key, $value in $breakpoints {
	@include media('>=#{$key}') {
		$breakpoint: if($key == default, '', \@#{$key});

		// Clearfix: contain floats
		.clear-fix#{$breakpoint} {

			&:before,
			&:after {
				content: ' ';
				display: table;
			}

			&:after {
				clear: both;
			}

		}

		// Clear
		.clear-both#{$breakpoint} {
			clear: both;
		}

		.clear-left#{$breakpoint} {
			clear: left;
		}

		.clear-right#{$breakpoint} {
			clear: right;
		}

		.clear-none#{$breakpoint} {
			clear: none;
		}

		// Floats
		.float-left#{$breakpoint} {
			float: left;
		}

		.float-right#{$breakpoint} {
			float: right;
		}

		.float-none#{$breakpoint} {
			float: none;
		}

		// Column
		@for $i from 0 through 4 {

			.column--#{$i}#{$breakpoint} {
				column-count: $i;
				column-gap: ritmo(1);
			}

		}

	}
}
