@each $key, $value in $breakpoints {
	@include media('>=#{$key}') {
		$breakpoint: if($key == default, '', \@#{$key});

		.list-unstyled#{$breakpoint} {
			list-style-type: none;
			margin-left: 0;
		}

		.list-disc#{$breakpoint} {
			list-style-type: disc;
		}

		.list-square#{$breakpoint} {
			list-style-type: square;
		}

		.list-circle#{$breakpoint} {
			list-style-type: circle;
		}

		.list-decimal#{$breakpoint} {
			list-style-type: decimal;
		}

		.list-inline#{$breakpoint} {

			list-style-type: none;
			margin-left: 0;

			li {
				display: inline;
				padding-left: ritmo(1);

				&:first-child {
					padding-left: 0;
				}
			}

		}

	}
}
