@include breakpoint-styles('.list-unstyled') {
	list-style-type: none;
	margin-left: 0;
}

@include breakpoint-styles('.list-disc') {
	list-style-type: disc;
}

@include breakpoint-styles('.list-square') {
	list-style-type: square;
}

@include breakpoint-styles('.list-circle') {
	list-style-type: circle;
}

@include breakpoint-styles('.list-decimal') {
	list-style-type: decimal;
}

@include breakpoint-styles('.list-inline') {

	list-style-type: none;
	margin-left: 0;

	li {
		display: inline;
		padding-left: ritmo(1);

		&:first-child {
			padding-left: 0;
		}
	}

}
