$breakpoints: map-merge(( default: 0px ), $breakpoints);

@each $key, $value in $breakpoints {
	@include media('>=#{$key}') {
		$breakpoint: if($key == default, '', \@#{$key});

		.overflow-visible#{$breakpoint} {
			overflow: visible;
		}

		.overflow-hidden#{$breakpoint} {
			overflow: hidden;
		}

		// Prevent scrolling on element (fix for iOS)
		.overflow-fixed#{$breakpoint} {
			overflow: hidden;
			position: fixed;
			height: 100%;
			width: 100%;
		}

		.overflow-scroll#{$breakpoint} {
			overflow: scroll;
		}

		.overflow-auto#{$breakpoint} {
			overflow: auto;
		}

		// Smooth overflow scrolling in iOS
		.overflow-scrolling#{$breakpoint} {
			-webkit-overflow-scrolling: touch;
		}

	}
}
