$breakpoints: map-merge(( default: 0px ), $breakpoints);

@each $key, $value in $breakpoints {
	@include media('>=#{$key}') {
		$breakpoint: if($key == default, '', \@#{$key});

		// Margin
		@for $i from 0 through 5 {

			.margin-top--#{$i}#{$breakpoint} {
				margin-top: ritmo($i);
			}

			.margin-bottom--#{$i}#{$breakpoint} {
				margin-bottom: ritmo($i);
			}

			.margin-left--#{$i}#{$breakpoint} {
				margin-left: ritmo($i);
			}

			.margin-right--#{$i}#{$breakpoint} {
				margin-right: ritmo($i);
			}

		}

		// Padding
		@for $i from 0 through 5 {

			.padding-top--#{$i}#{$breakpoint} {
				padding-top: ritmo($i);
			}

			.padding-bottom--#{$i}#{$breakpoint} {
				padding-bottom: ritmo($i);
			}

			.padding-left--#{$i}#{$breakpoint} {
				padding-left: ritmo($i);
			}

			.padding-right--#{$i}#{$breakpoint} {
				padding-right: ritmo($i);
			}

		}

	}
}
