@each $key, $value in $breakpoints {
	@include media('>=#{$key}') {
		$breakpoint: if($key == default, '', \@#{$key});

		.text-left#{$breakpoint} {
			text-align: left;
		};

		.text-right#{$breakpoint} {
			text-align: right;
		};

		.text-center#{$breakpoint} {
			text-align: center;
		};

		.text-justify#{$breakpoint} {
			text-align: justify;
		};

		.text-bold#{$breakpoint} {
			font-weight: bold;
		};

		.text-normal#{$breakpoint} {
			font-weight: normal;
		};

		.text-lowercase#{$breakpoint} {
			text-transform: lowercase;
		};

		.text-uppercase#{$breakpoint} {
			text-transform: uppercase;
		};

		.text-capitalize#{$breakpoint} {
			text-transform: capitalize;
		};

		.text-transform-none#{$breakpoint} {
			text-transform: none;
		};

		.text-underline#{$breakpoint} {
			text-decoration: underline;
		};

		.text-decoration-none#{$breakpoint} {
			text-decoration: none;
		};

		.text-nowrap#{$breakpoint} {
			white-space: nowrap;
		};

		.text-truncate#{$breakpoint} {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: normal;
		};

		.text-ellipsis#{$breakpoint} {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		};

		.text-clip#{$breakpoint} {
			text-overflow: clip;
			white-space: nowrap;
			overflow: hidden;
		};

		.text-break#{$breakpoint} {
			hyphens: auto;
			word-break: break-word;
			word-wrap: break-word;
		};

		.h1#{$breakpoint} {
			@include type('h1');
		}

		.h2#{$breakpoint} {
			@include type('h2');
		}

		.h3#{$breakpoint} {
			@include type('h3');
		}

		.h4#{$breakpoint} {
			@include type('h4');
		}

		.h5#{$breakpoint} {
			@include type('h5');
		}

		.h6#{$breakpoint} {
			@include type('h6');
		}

		.p#{$breakpoint} {
			@include type('p');
		}

		.small#{$breakpoint} {
			@include type('small');
		}

	}
}
