# Force URL to www
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^internionline.it [NC]
RewriteRule ^(.*)$ https://www.internionline.it/$1 [L,R=301,NC]
</IfModule>

# Force HTTPs
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>

# Block access to files that can expose sensitive information.
<IfModule mod_authz_core.c>
    <FilesMatch "(^#.*#|\.(bak|conf|dist|fla|in[ci]|log|orig|psd|sh|sql|sw[op])|~)$">
        Require all denied
    </FilesMatch>
</IfModule>

# 301 (Permanent) Redirect
Redirect 301 /oldpage.html http://www.yourwebsite.com/newpage.html