.price {
	display: block;
	margin-bottom: ritmo(1);

	.amount {
		@include ritmo-font-size(20px);
		@apply text-primary;
		font-weight: bold;
	}

	del {
		@apply text-gray-500;
		.amount {
			@include ritmo-font-size(16px);
			@apply text-gray-500;
		}
	}

	ins {
		text-decoration: none;
	}
}