.variations {

	td, th {
		border: 0;
	}

	.label,
	.value {
		display: block;
	}

	.label {
		padding: 0;
		font-weight: bold;
	}

	.value {
		padding: ritmo(0.25) 0 0 0;

	}

}

.woocommerce-variation-price {
	@include ritmo-font-size(28px);
	margin-bottom: ritmo(1);
}