.woocommerce-loop-product {
	position: relative;
	background-color: $color-white;
	@extend .card;
	text-align: center;

	.added_to_cart {
		display: block;
		margin-bottom: ritmo(1);
	}

	.onsale {
		position: absolute;
		padding: 10px;
		color: $color-white;
		left: 0;
		background-color: $color-success;
	}

	.woocommerce-placeholder,
	.attachment-woocommerce_thumbnail {
		width: 100%;
	}

	.button {
		transition: color 0.2s ease-out;

		&.loading {
			position: relative;
			color: transparent;
			background-color: $color-secondary;
			border-color: $color-secondary;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -20px;
				margin-top: -20px;
				border: 4px solid transparent;
				border-top: 4px solid $color-primary;
				animation: rotating 1.2s infinite linear;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}

	}
}

.woocommerce-loop-product__link {
	@extend .card__link;
}

.woocommerce-loop-product__title {
	@include type('h6');
	padding-top: ritmo(1);
	margin-bottom: ritmo(0.5);
}