.woocommerce-product-details {
	position: relative;

	.product_title {

	}

	.onsale {
		position: absolute;
		padding: 10px;
		color: $color-white;
		left: 0;
		background-color: $color-success;
	}

	.woocommerce-Price-amount {

	}

	.woocommerce-Price-currencySymbol {

	}

	.woocommerce-price-suffix {

	}

}

.woocommerce-product-details__short-description {

}