.woocommerce-tabs {
	@apply flow-root;
	@apply mb-12;

	.tabs {
		margin: 0 5% 0 0;

		@screen md {
			border-top: 1px solid rgba(0,0,0,.05);
			width: 25%;
			float: left;
		}

		li {
			display: block;
			margin: 0;
			border-bottom: 1px solid rgba(0,0,0,.05);
			border-left: 3px solid theme('colors.gray.400');
			position: relative;
			@apply pl-6;

			@media ( max-width: theme('screens.md') ) {
				display: none !important;
			}

			&.active {
				border-left: 3px solid theme('colors.gray.600');
				position: relative;

				&:before {
					content: "";
					@include triangle( right, theme('colors.black'), 5px );
					right: 0;
				}
			}
		}

		a {
			padding: 1em 0;
			display: block;
			text-decoration: none;
			@apply text-black;

			&:hover {
				@apply text-primary;
			}
		}
	}

	.panel {

		margin-right: 0;
		margin-top: 0;

		@media ( max-width: theme('screens.md') ) {
			display: block !important;
			@apply mb-12;
		}

		@screen md {
			width: 70%;
			float: right;
		}

		p {
			@apply text-gray-600;
		}
	}
}