// NOTICES WRAPPER
.woocommerce-notices-wrapper {

	.woocommerce-message {
		@extend .message;

		.button {
			@include media('>=md') {
				position: absolute;
				top: 0;
				right: 0;
			}

		}
	}

}