.block {

    // Documentation Template
    .body--page-template-template-ground-docs & {
        margin-bottom: ritmo(4);
        padding: ritmo(1);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


}