.card {
	position: relative;
	overflow: hidden;
	border: 1px solid $color-grey;
	margin-bottom: ritmo(1);
}

.card--rounded {
	border-radius: ritmo(0.4);
}

.card--shadow {
	box-shadow: 0 1px 3px 0 $color-grey;
}

.card__header {
	padding: ritmo(0.5);
}

.card__body {
	@extend .clear-fix;
	padding: ritmo(0.5);
}

.card__footer {
	border-top: 1px solid lighten($color-black, 95%);
	padding: ritmo(0.5);
}

.card__link {
	text-decoration: none;
	color: inherit;
}
