.card {
	position: relative;
	overflow: hidden;
	//border: 1px solid $color-grey;
	margin-bottom: ritmo(1);
}

.card--rounded {
	border-radius: ritmo(0.4);
}

.card--shadow {
	@apply shadow-xl;
}

.card__header {
	padding: ritmo(0.5);
}

.card__body {
	@apply flow-root;
	padding: ritmo(0.5);
}

.card__footer {
	border-top: 1px solid theme('colors.black');
	padding: ritmo(0.5);
}

.card__link {
	text-decoration: none;
	color: inherit;
	display: block;
}
