.cursor {
	opacity: 1;
	transition: opacity 0.5s ease;
	z-index: 200000;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;

	&.is-cursor-hide {
		opacity: 0;
	}

	&.is-cursor-clicked {
		.cursor__circle--outer {
			transform: scale(3) !important;
			opacity: 0 !important;
		}
	}

	&.is-cursor-dragged {
		.cursor__circle--outer {
			background-color: rgba($color-grey, 0.5);
			transform: scale(2.5);
			border: 2px solid transparent !important;
		}

		.cursor__icon {
			@include icon(drag);
		}
	}

	&.is-cursor-hover {
		.cursor__circle--outer {
			background-color: rgba($color-grey, 0.5);
			border: 2px solid transparent !important;
			transform: scale(2.5);
		}

		.cursor__icon {
			opacity: 0;
		}
	}

	&.is-cursor-right {
		.cursor__icon {
			opacity: 1;
			@include icon(arrow-right);
		}
	}

	&.is-cursor-left {
		.cursor__icon {
			opacity: 1;
			@include icon(arrow-left);
		}
	}

	&.is-cursor-close {
		.cursor__icon {
			opacity: 1;
			@include icon(close);
		}
	}

	&.is-cursor-zoom {
		.cursor__icon {
			opacity: 1;
			@include icon(magnifying-glass-plus);
		}
	}

	&.is-cursor-plus {
		.cursor__icon {
			opacity: 1;
			@include icon(plus);
		}
	}

	.is-modal-open & {
		mix-blend-mode: difference;
	}

}

.cursor__circle {
	border-radius: 50%;
}

.cursor__circle--inner {
	@extend .centered;
	width: 8px;
	height: 8px;
	.is-cursor-hover & {
		height: 16px;
		width: 16px;
	}
}

.cursor__circle--outer {
	background-color: transparent;
	width: 30px;
	height: 30px;
	opacity: 1;
	transition: all $speed $easing;
	.is-cursor-always-visible & {
		border: 2px solid $color-black;

		.is-modal-open & {
			border-color: $color-white;
		}
	}

	.is-loading & {
		background-color: $color-primary;
		border: 2px solid $color-primary;
	}
}

.cursor__icon {
	@extend .centered;
	font-size: 14px;
	color: $color-black;
	display: inline-block;
	transition: all $speed $easing;
}

.cursor__loader {
	display: none;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	position: absolute;
	top: -32px;
	left: -32px;
	border: 4px solid transparent;
	border-top: 4px solid $color-primary;
	animation: rotate 1.2s infinite linear;

	.is-loading & {
		display: block;
	}
}