.divider,
hr {
	display: block;
	border: 0;
	@include leading-border( 1px, 1 );
	border-color: $color-grey;
	margin: rhythm(1) 0;
	padding: 0;
}

.divider--dotted {
	@include leading-border( 1px, 1 );
	border-style: dotted;
}

.divider--dashed {
	border-style: dashed;
}
