.divider,
hr {
	display: block;
	border: 0;
	border-width: 1px;
	@apply border-gray-500;
	@apply my-6;
	padding: 0;
}

.divider--dotted {
	border-width: 1px;
	border-style: dotted;
}

.divider--dashed {
	border-style: dashed;
}
