.divider,
hr {
	display: block;
	border: 0;
	@include ritmo-top-border( 1px, 1 );
	@apply border-gray-500;
	margin: ritmo(1) 0;
	padding: 0;
}

.divider--dotted {
	@include ritmo-top-border( 1px, 1 );
	border-style: dotted;
}

.divider--dashed {
	border-style: dashed;
}
