.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color-white;
	height: ritmo(3);
	box-shadow: 0 0 25px rgba(0,0,0,0.08);
	@extend .clear-fix;

	@include media('>=md') {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		height: auto;
		width: 100%;
		box-shadow: none;
		text-align: right;
		margin-bottom: ritmo(1);
	}

	.body--home & {

		@include media('>=md') {
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			right: 0;
		}

	}
}

.header__search {
	background-color: transparent;
	cursor: pointer;
	outline: none;
	border: 0;


	position: absolute;
	top: 0;
	right: ritmo(4.5);
	display: inline-block;
	vertical-align: top;
	height: ritmo(3);

	@include media('>=md') {
		width: ritmo(3);
		position: relative;
		top: auto;
		right: auto;
	}


	i {
		color: $color-black;
	}
}