@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

@mixin icon-styles {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == align-left {
		$char: "\E001";
	}
	@if $filename == align-middle {
		$char: "\E002";
	}
	@if $filename == align-right {
		$char: "\E003";
	}
	@if $filename == arrow {
		$char: "\E004";
	}
	@if $filename == bell {
		$char: "\E005";
	}
	@if $filename == blank {
		$char: "\E006";
	}
	@if $filename == bluetooth {
		$char: "\E007";
	}
	@if $filename == browser {
		$char: "\E008";
	}
	@if $filename == camera {
		$char: "\E009";
	}
	@if $filename == cart {
		$char: "\E00A";
	}
	@if $filename == chat {
		$char: "\E00B";
	}
	@if $filename == check-mark {
		$char: "\E00C";
	}
	@if $filename == clock {
		$char: "\E00D";
	}
	@if $filename == close {
		$char: "\E00E";
	}
	@if $filename == compass {
		$char: "\E00F";
	}
	@if $filename == connection {
		$char: "\E010";
	}
	@if $filename == cursor {
		$char: "\E011";
	}
	@if $filename == display {
		$char: "\E012";
	}
	@if $filename == download {
		$char: "\E013";
	}
	@if $filename == drop {
		$char: "\E014";
	}
	@if $filename == empty-blank {
		$char: "\E015";
	}
	@if $filename == flag {
		$char: "\E016";
	}
	@if $filename == forward-2 {
		$char: "\E017";
	}
	@if $filename == forward {
		$char: "\E018";
	}
	@if $filename == gift {
		$char: "\E019";
	}
	@if $filename == graphic {
		$char: "\E01A";
	}
	@if $filename == grid {
		$char: "\E01B";
	}
	@if $filename == hamburger-menu {
		$char: "\E01C";
	}
	@if $filename == headphones {
		$char: "\E01D";
	}
	@if $filename == heart {
		$char: "\E01E";
	}
	@if $filename == home {
		$char: "\E01F";
	}
	@if $filename == hyperlink {
		$char: "\E020";
	}
	@if $filename == justify-all {
		$char: "\E021";
	}
	@if $filename == key {
		$char: "\E022";
	}
	@if $filename == label {
		$char: "\E023";
	}
	@if $filename == lock-closed {
		$char: "\E024";
	}
	@if $filename == lock-open {
		$char: "\E025";
	}
	@if $filename == magnet {
		$char: "\E026";
	}
	@if $filename == magnifying-glass-2 {
		$char: "\E027";
	}
	@if $filename == magnifying-glass-minus {
		$char: "\E028";
	}
	@if $filename == magnifying-glass-plus {
		$char: "\E029";
	}
	@if $filename == magnifying-glass {
		$char: "\E02A";
	}
	@if $filename == mail {
		$char: "\E02B";
	}
	@if $filename == map-pin {
		$char: "\E02C";
	}
	@if $filename == map {
		$char: "\E02D";
	}
	@if $filename == maximize {
		$char: "\E02E";
	}
	@if $filename == microphone {
		$char: "\E02F";
	}
	@if $filename == minimize {
		$char: "\E030";
	}
	@if $filename == minus {
		$char: "\E031";
	}
	@if $filename == mouse {
		$char: "\E032";
	}
	@if $filename == music {
		$char: "\E033";
	}
	@if $filename == navigation {
		$char: "\E034";
	}
	@if $filename == notifications {
		$char: "\E035";
	}
	@if $filename == pause {
		$char: "\E036";
	}
	@if $filename == play {
		$char: "\E037";
	}
	@if $filename == plus {
		$char: "\E038";
	}
	@if $filename == power {
		$char: "\E039";
	}
	@if $filename == print {
		$char: "\E03A";
	}
	@if $filename == repeat {
		$char: "\E03B";
	}
	@if $filename == selection {
		$char: "\E03C";
	}
	@if $filename == settings {
		$char: "\E03D";
	}
	@if $filename == share {
		$char: "\E03E";
	}
	@if $filename == shuffle {
		$char: "\E03F";
	}
	@if $filename == sound-minus {
		$char: "\E040";
	}
	@if $filename == sound-plus {
		$char: "\E041";
	}
	@if $filename == speaker {
		$char: "\E042";
	}
	@if $filename == star {
		$char: "\E043";
	}
	@if $filename == statistics {
		$char: "\E044";
	}
	@if $filename == stop {
		$char: "\E045";
	}
	@if $filename == trash-bin {
		$char: "\E046";
	}
	@if $filename == upload {
		$char: "\E047";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-align-left {
	@include icon(align-left);
}
.icon-align-middle {
	@include icon(align-middle);
}
.icon-align-right {
	@include icon(align-right);
}
.icon-arrow {
	@include icon(arrow);
}
.icon-bell {
	@include icon(bell);
}
.icon-blank {
	@include icon(blank);
}
.icon-bluetooth {
	@include icon(bluetooth);
}
.icon-browser {
	@include icon(browser);
}
.icon-camera {
	@include icon(camera);
}
.icon-cart {
	@include icon(cart);
}
.icon-chat {
	@include icon(chat);
}
.icon-check-mark {
	@include icon(check-mark);
}
.icon-clock {
	@include icon(clock);
}
.icon-close {
	@include icon(close);
}
.icon-compass {
	@include icon(compass);
}
.icon-connection {
	@include icon(connection);
}
.icon-cursor {
	@include icon(cursor);
}
.icon-display {
	@include icon(display);
}
.icon-download {
	@include icon(download);
}
.icon-drop {
	@include icon(drop);
}
.icon-empty-blank {
	@include icon(empty-blank);
}
.icon-flag {
	@include icon(flag);
}
.icon-forward-2 {
	@include icon(forward-2);
}
.icon-forward {
	@include icon(forward);
}
.icon-gift {
	@include icon(gift);
}
.icon-graphic {
	@include icon(graphic);
}
.icon-grid {
	@include icon(grid);
}
.icon-hamburger-menu {
	@include icon(hamburger-menu);
}
.icon-headphones {
	@include icon(headphones);
}
.icon-heart {
	@include icon(heart);
}
.icon-home {
	@include icon(home);
}
.icon-hyperlink {
	@include icon(hyperlink);
}
.icon-justify-all {
	@include icon(justify-all);
}
.icon-key {
	@include icon(key);
}
.icon-label {
	@include icon(label);
}
.icon-lock-closed {
	@include icon(lock-closed);
}
.icon-lock-open {
	@include icon(lock-open);
}
.icon-magnet {
	@include icon(magnet);
}
.icon-magnifying-glass-2 {
	@include icon(magnifying-glass-2);
}
.icon-magnifying-glass-minus {
	@include icon(magnifying-glass-minus);
}
.icon-magnifying-glass-plus {
	@include icon(magnifying-glass-plus);
}
.icon-magnifying-glass {
	@include icon(magnifying-glass);
}
.icon-mail {
	@include icon(mail);
}
.icon-map-pin {
	@include icon(map-pin);
}
.icon-map {
	@include icon(map);
}
.icon-maximize {
	@include icon(maximize);
}
.icon-microphone {
	@include icon(microphone);
}
.icon-minimize {
	@include icon(minimize);
}
.icon-minus {
	@include icon(minus);
}
.icon-mouse {
	@include icon(mouse);
}
.icon-music {
	@include icon(music);
}
.icon-navigation {
	@include icon(navigation);
}
.icon-notifications {
	@include icon(notifications);
}
.icon-pause {
	@include icon(pause);
}
.icon-play {
	@include icon(play);
}
.icon-plus {
	@include icon(plus);
}
.icon-power {
	@include icon(power);
}
.icon-print {
	@include icon(print);
}
.icon-repeat {
	@include icon(repeat);
}
.icon-selection {
	@include icon(selection);
}
.icon-settings {
	@include icon(settings);
}
.icon-share {
	@include icon(share);
}
.icon-shuffle {
	@include icon(shuffle);
}
.icon-sound-minus {
	@include icon(sound-minus);
}
.icon-sound-plus {
	@include icon(sound-plus);
}
.icon-speaker {
	@include icon(speaker);
}
.icon-star {
	@include icon(star);
}
.icon-statistics {
	@include icon(statistics);
}
.icon-stop {
	@include icon(stop);
}
.icon-trash-bin {
	@include icon(trash-bin);
}
.icon-upload {
	@include icon(upload);
}
