.item {
	margin-bottom: ritmo(2);
}

.item__link {
	text-decoration: none;
}

.item__footer {

}

.item__title {
	margin-bottom: 0;
}

.item__header {
	margin-bottom: ritmo(1);
}

.item__data {
	display: block;
}

.item__data--date {
	@include ritmo-font-size(12px);
	font-weight: bold;
	color: $color-grey-dark;
}