.loader {
	position: fixed;
	backface-visibility: hidden;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 100000;
}

.loader__bg {
	position: fixed;
	backface-visibility: hidden;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	@apply bg-black;
}

.loader__content {
	@include centered();

	g {
		//fill: $color-white;
		@apply fill-current;
	}
}