.logo {
	height: ritmo(1);
	margin-left: ritmo(1);
	margin-top: ritmo(1);
	margin-bottom: ritmo(1);
	float: left;

	svg, g {
		@extend .logo__img;
	}
}

.logo__img {
	fill: $color-black;

	&:hover {
		fill: $color-primary;
	}
}
