.logo {
	height: ritmo(1);
	margin-left: ritmo(0.5);
	margin-top: ritmo(1);
	margin-bottom: ritmo(1);
	display: inline-block;

	@include media('>=md') {
		margin-left: 0;
	}
}

.logo__img {
	fill: $color-grey;
	transition: all 0.4s;
	&:hover {
		fill: $color-primary;
	}
}
