.message {
	display: block;
	position: relative;
	@apply pt-3;
	@apply pb-3;
	@apply text-primary;
	@apply border-primary;

	&.has-error,
	.has-error & {
		@apply border-red-600;
		@apply text-red-600;
		.message__close {
			@apply text-red-600;
		}
	}

	&.has-success,
	.has-success & {
		@apply border-green-500;
		@apply text-green-500;
		.message__close {
			@apply text-green-500;
		}
	}

	&.has-warning,
	.has-warning & {
		@apply border-yellow-300;
		@apply text-yellow-300;
		.message__close {
			@apply text-yellow-300;
		}
	}

	&--secondary {
		@apply text-secondary;
		@apply border-secondary;
		.message__close {
			@apply text-secondary;
		}
	}

	&--bordered {

		@apply py-3;
		@apply px-6;
		border-width: 1px;
		border-style: solid;

		&.message--small {
			height: 24px;
		}

		&.message--big {

		}

	}

	&--fill {
		@apply pl-6;
		@apply pr-6;
		@apply bg-primary;
		@apply text-white;

		.has-error &,
		&.has-error {
			@apply bg-red-600;
			@apply text-white;
		}

		.has-success &,
		&.has-success {
			@apply bg-green-500;
			@apply text-white;
		}

		.has-warning &,
		&.has-warning {
			@apply bg-yellow-300;
			@apply text-white;
		}

		.message--secondary &,
		&.message--secondary {
			@apply text-white;
			@apply bg-secondary;
		}

		.message__close {
			@apply text-white;
		}

	}

	&--small {
		padding-top: 0;
		padding-bottom: 0;
	}

	&--big {
		@apply pt-6;
		@apply pb-6;
	}

	&--rounded {
		border-radius: 5px;
	}

	&--pill {
		border-radius: 1000px;
	}

}


.message__close {
	float: right;
	text-decoration: none;
	@apply text-primary;
}
