.navicon {
	position: absolute;
	top: 20px;
	right: 3%;
	left: auto;
	z-index: 1000;
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;

	@include media(">=md") {
		display: none;
	}

}

.navicon__icon {
	@include navicon-icon( 30px, 3px, 5px );
}
