.page {
	@apply mb-6;
}

.page__header {
	@apply mb-6;
}

.page__title {
	margin-bottom: 0;
}

.page__subtitle {

}

.page__body {

}

.page__footer {
	@apply mb-6;
}

.page__data {
	display: block;
	@apply text-gray-600;
	@apply text-sm;
}

.page__data--date {
	@apply text-xs;;
	font-weight: bold;
}

.page__data--tag {

	display: block;
	@apply mt-6;

	a {
		@apply text-5xl;
		@apply border;
		@apply border-gray-500;
		font-weight: bold;
		@apply py-3 px-2;
		text-decoration: none;
		display: inline-block;
		@apply mr-3;
		@apply rounded-md;
		@apply text-black;
		text-transform: uppercase;

		&:hover {
			@apply text-primary;
		}
	}
}