// .scrollbar {
//     width: 10px;
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 100vh;
//     transform-origin: center right;
//     transform: scaleX(1);
//     transition: transform 0.2s linear;
//     z-index: 11;

//     &:hover {
//         transform: scaleX(1.3);
//         cursor: grab;
//     }
// }

// .scrollbar_thumb {
//     background-color: black;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;

//     &:hover {
//         cursor: pointer;
//     }
// }



.scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    z-index: 99999;

    &:hover {
        transform: scaleX(1.45);
    }

    &:hover, .has-scroll-scrolling &, .has-scroll-dragging & {
        opacity: 1;
    }
}

.scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: grab;

    .has-scroll-dragging & {
        cursor: grabbing;
    }
}