.slider--primary {

	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
	}

	.owl-nav [class*='owl-'] {
		color: #FFF;
		font-size: 14px;
		margin: 5px;
		padding: 4px 7px;
		background: $color-grey;
		display: inline-block;
		cursor: pointer;
		border-radius: 3px;
	}

	.owl-nav [class*='owl-']:hover {
		background: $color-primary;
		color: #FFF;
		text-decoration: none;
	}

	.owl-nav .disabled {
		opacity: 0.5;
		cursor: default;
	}

	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
	}

	.owl-dots .owl-dot {
		display: inline-block;
		zoom: 1;
		*display: inline;
	}

	.owl-dots .owl-dot span {
		width: 10px;
		height: 10px;
		margin: 5px 7px;
		background: $color-grey;
		display: block;
		-webkit-backface-visibility: visible;
		transition: opacity 200ms ease;
		border-radius: 30px;
	}

	.owl-dots .owl-dot.active span,
	.owl-dots .owl-dot:hover span {
		background: $color-primary;
	}

}
