.splitting {

	&[data-scroll] {
		.char {
			transition: transform .3s cubic-bezier(.3, 0, .3, 1), opacity .3s linear;
			transition-delay: calc(35ms * var(--char-index));
			transform: translateY(.25em);
			opacity: 0;
		}
	}

	.is-loader-complete & {

		&[data-scroll="in"] {
			.char {

				opacity: 1;
				transform: translateY(0);
			}

		}
	}

}