table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  table-layout: fixed;
  max-width: 100%;
  width: 100%;
}

thead {

}

tbody {

}

tfoot {

}

th {
  border-bottom: 1px solid $grey;
  font-weight: bold;
  padding: em(21px) 0;
  text-align: left;
}

td {
  border-bottom: 1px solid $grey;
  padding: em(21px) 0;
}

tr,
td,
th {
  vertical-align: middle;
}
