@layer utilities {

    .mix-blend-mode-normal {
        mix-blend-mode: normal;
    }

    .mix-blend-mode-multiply {
        mix-blend-mode: multiply;
    }

    .mix-blend-mode-screen {
        mix-blend-mode: screen;
    }

    .mix-blend-mode-overlay {
        mix-blend-mode: overlay;
    }

    .mix-blend-mode-darken {
        mix-blend-mode: darken;
    }

    .mix-blend-mode-lighten {
        mix-blend-mode: lighten;
    }

    .mix-blend-mode-color-dodge {
        mix-blend-mode: color-dodge;
    }

    .mix-blend-mode-color-burn {
        mix-blend-mode: color-burn;
    }

    .mix-blend-mode-hard-light {
        mix-blend-mode: hard-light;
    }

    .mix-blend-mode-soft-light {
        mix-blend-mode: soft-light;
    }

    .mix-blend-mode-difference {
        mix-blend-mode: difference;
    }

    .mix-blend-mode-exclusion {
        mix-blend-mode: exclusion;
    }

    .mix-blend-mode-hue {
        mix-blend-mode: hue;
    }

    .mix-blend-mode-saturation {
        mix-blend-mode: saturation;
    }

    .mix-blend-mode-color {
        mix-blend-mode: color;
    }

    .mix-blend-mode-luminosity {
        mix-blend-mode: luminosity;
    }

}