.comments-list {

	padding-left: 0;

}

.comment {

	list-style: none;

	&.even {

	}

	&.odd {

	}

	&.parent {

	}

	&.byuser {

	}

	&.bypostauthor {

	}

	.reply {
		@extend .clearfix;
	}

	.children {
		padding-left: 4%;
	}

}

.comment-reply-link {
	float: right;
}

#cancel-comment-reply {
	a {

	}
}

.comment-body {
	border:1px solid $grey-light;
	padding: em(10px);
	position: relative;
	margin-bottom: em(21px);
}

.comment-meta {

	margin-left: em(95px);

	a {

	}

}


.comment-awaiting-moderation {
	font-style: italic;
}

.comment-author {

	.avatar {
		position: absolute;
		left: em(10px);
		top: em(10px);
	}

	.fn {

	}

	.url {

	}

	.says {

	}

}

.comment-metadata {

	a {
		text-decoration: none;
	}

	time {

	}
}

.comment-content {

	margin-left: em(95px);

	p {

	}

}
