/*  ==========================================================================
	WordPress WYSIWYG editor styles
	==========================================================================  */

.alignnone {
    margin: em(5px) em(20px) em(20px) 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: em(5px) auto em(5px) auto;
}

.alignleft,
a img.alignleft {
	float: left;
	margin-right: em(21px);
}

.alignright,
a img.alignright {
	float: right;
	margin-left: em(21px);
}

.aligncenter,
a img.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption {
	margin-bottom: em(21px);
	padding-top: em(5px);
	max-width: 96%;
	text-align: center;

	&.alignnone {
		margin: em(5px) em(20px) em(20px) 0;
	}

	&.alignleft {
		margin: em(5px) em(20px) em(20px) 0;
	}

	&.alignright {
		margin: em(5px) 0 em(20px) em(20px);
	}

	img {
		margin: 0;
		padding: 0;
		border: 0 none;
	}

	p.wp-caption-text {
		margin: 0;
		font-size: em(11px);
		line-height: 1.5;
	}

}

.wp-smiley {
	margin: 0 !important;
	max-height: em(16px);
}

blockquote.left {
	float: left;
	margin-right: em(20px);
	margin-left: 0;
	width: 33%;
	text-align: right;
}

blockquote.right {
	float: right;
	margin-right: 0;
	margin-left: em(20px);
	width: 33%;
	text-align: left;
}

.gallery {

	dl { }

	dt { }

	dd { }

	dl a { }

	dl img { }

	.gallery-caption { }

}
