.menu-primary {

	max-height: 0;
	transition: all 0.4s;
	overflow-y: hidden;

	@media ( min-width: $mq-sm ) {

		max-height: none;
		display: block;

	}

	&.active {
		max-height: em(300px);
		overflow-y: scroll;

		@media ( min-width: $mq-sm ) {

			overflow-y: auto;

		}

	}

	.menu-item {

		display: block;
		border: em(1px) solid $light-grey;
		padding: em(6px);

		@media ( min-width: $mq-sm ) {

			display: inline-block;

		}

		&:first-child {}

		&:last-child {}
	}

	.menu-item-has-children {

	}

	a {

		color: $grey;
		text-decoration: none;

		&:hover {
			color: $black;
		}
	}

	.current-menu-item,
	.current-page-ancestor,
	.current_page_item {

		a {
			color: blue;
		}
	}

	.sub-menu {

		.menu-item {

			a {}
		}

	}

}