#colorbox{
	outline: 0;
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
	overflow: visible;
}

#colorbox:active,
#colorbox:focus {
	outline: none;
}

#cboxOverlay {
	background-color: $colorbox-overlay;
}


/* Title */

#cboxTitle {
	position: absolute;
	bottom: em(-30px);
	left: 0;
	width: 100%;
	color: $colorbox-text;
	text-align: right;
}


/* Current image*/

#cboxCurrent {
	position: absolute;
	bottom: em(-30px);
	left: 0;
	color: $colorbox-text;
}


/* Button */

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
	position: absolute;
	bottom: 0;
	width: em(28px);
	height: em(28px);
	border: 0;
	opacity: 0;
	background: $colorbox-button url(#{$path-img}modal-controls.png) no-repeat;
	text-indent: em(-9999px);
	transition: all 0.5s;
}


/* .touch works only with modernizr */

.touch #colorbox button,
#colorbox:hover button {
	opacity: 1;
}

#cboxPrevious {
	right: em(56px);
	background-position: 0 0;
}

#cboxNext {
	right: em(28px);
	background-position: em(-28px) 0;
}

#cboxNext:hover,
#cboxPrevious:hover {
	background-color: $colorbox-button-hover;
}

#cboxClose {
	right: 0;
	background-color: $colorbox-button-hover;
	background-position: em(-56px) 0;
}

#cboxClose:hover {
	background-color: $colorbox-button-dark;
}


/* Slide show button */

#cboxSlideshow {
	right: em(84px);
}

#cboxSlideshow:hover {
	background-color: $colorbox-button-hover;
}

.cboxSlideshow_off #cboxSlideshow {
	background-position: em(-84px) 0;
}

.cboxSlideshow_on #cboxSlideshow {
	background-position: em(-112px) 0;
}


/* Loading */

#cboxLoadingGraphic {
	background: url("#{$path-img}loading.gif") center center no-repeat;
}


/* Content */

#cboxContent {
	border: 0;
	box-shadow: 0 em(10px) em(25px) rgba(0, 0, 0, 0.5);
	background-color: $colorbox-bg;
}


/* Iframe */

.cboxIframe {
	background: $colorbox-bg;
}


/* Error */

#cboxError {
	padding: em(50px);
}
