.navigation-primary {

	margin: 0;

	.menu-item {

		list-style-type: none;
		position: relative;

		@media ( min-width: $mq-sm ) {

			display: inline-block;

		}

		&:first-child {}

		&:last-child {}

		&:hover {
			> .sub-menu {
				display: block;
			}
		}

		> .sub-menu {

			margin: 0;

			@media ( min-width: $mq-sm ) {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				margin-left: 0;
				background-color: $grey-light;
			}

			.menu-item {

				a {
					padding-left: 45px;

					@media ( min-width: $mq-sm ) {
						padding: 10px;
					}
					white-space: nowrap;
				}
			}

		}
	}

	.menu-item-has-children {

		&:hover {
			//display: block;
		}

	}

	a {
		display: block;
		text-decoration: none;
		padding: em(20px) em(15px);
		color: $white;
		border-bottom: 1px solid $white;

		@media ( min-width: $mq-sm ) {

			display: inline;
			color: $black;
			padding: 0 15px 0 0;

		}

		&:hover {

		}

	}

	.current-menu-item,
	.current-page-ancestor,
	.current_page_item {

		> a {
			color: green;
		}
	}

}
