.navicon {
	position: absolute;
	top: 0;
	right: 2%;
	left: auto;
	box-sizing: content-box;
	width: em(44px);
	height: em(44px);
	text-indent: - em(9989px);
	cursor: pointer;
	transition: ease 0.5s;
	z-index: 100;

	@media only screen and ( min-width: $mq-sm ) {

		display: none;

	}

	&:before,
	&:after {
		transition: all 0.5s;
		position: absolute;
		left: em(8px);
		width: em(29px);
		height: em(4px);
		box-sizing: content-box;
		content: "";
	}

	&:before {
		top: 28px;
		border-top: em(4px) solid $grey;
	}

	&:after {
		top: 12px;
		border-top: em(12px) double $grey;
	}

}

.navicon--active {

	&:before,
	&:after {
		box-sizing: border-box;
		border-top: em(4px) solid $white;
		top: 48%;
	}

	&:after {
		transform: rotate(45deg);
	}

	&:before {
		transform: rotate(-45deg);
	}
}
