/* Basic pagination */

.pagination-basic {
	margin-left: 0;
}

.pagination-basic__item {
	display: inline;
	list-style-type: none;

	a {
		text-decoration: none;
	}
}

.pagination-basic__item--previus {

}

.pagination-basic__item--next {

}


/* Numeric pagination */

.page-numbers {

	margin-left: 0;

	li {
		display: inline;
		list-style-type: none;
		padding-left: 0;
	}

	.page-numbers {
		text-decoration: none;
	}

	.prev {

	}

	.next {

	}

	.current {

	}

}
