// Slider
.slider {

}

.slider--primary {

}

.slider__item {

}

.slider__caption {
	width: 100%;
	background-color: rgba($black, 0.3);
	position: absolute;
	color: $white;
	bottom: 0;
}

// Slider direction nav
.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	z-index: 100;
	display: block;
	margin: em(-20px) 0 0 0;
	width: em(30px);
	height: em(30px);
	background: url("#{$path-img}slider-nav.png") no-repeat 0 0;
	text-indent: em(-9999px);
	overflow: hidden;
	opacity: 1;
	transition: all .3s ease;
	opacity:.5;
	border:0;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

.slick-prev {
	left: 0;
}

.slick-next {
	right: 0;
	background-position: 100% 0;
}

// Slider control paging (dots)
.slick-dots {

	width: 100%;
	text-align: center;
	margin-left: 0;
	margin-bottom: 0;

	li {

		display: inline-block;
		margin: 0 em(6px);
		width: em(11px);
		height: em(11px);
		border-radius: em(20px);
		background: rgba(0,0,0,0.5);
		text-indent: em(-9999px);
		cursor: pointer;

		&:hover,
		&.slick-active {
			background: rgba(0,0,0,0.9);
			cursor: default;
		}

	}
}
