.breadcrumb {
	@apply relative overflow-y-hidden h-6 mt-6 mb-6 text-sm md:relative;
	@screen md {
		&:after {
			@apply hidden;
		}
	}
}

.breadcrumb__list {
	@apply relative pb-6 pr-20 ml-0 mb-0 overflow-x-auto overflow-y-hidden whitespace-nowrap;
	-webkit-overflow-scrolling: touch;
}

.breadcrumb__item {
	@apply inline-block;

	&:after {
		content: '▸';
		@apply opacity-theme text-xl px-3;
	}

	&:last-child {
		@apply pointer-events-none cursor-default font-bold;

		&:after {
			content: none;
		}
	}

	a {
		@extend .breadcrumb__link;
	}
}

.breadcrumb__link {
	@apply opacity-theme no-underline;

	&:hover {
		@apply underline text-primary;
	}
}
