#cursor {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	/* mix-blend-mode: difference; */
}
  
@media (hover: hover) and (pointer: fine) {
	.cursor__circle {
		width: 80px;
	  	height: 80px;
	  	margin-top: -50%;
	  	margin-left: -50%;
	  	border-radius: 50%;
	  	border: solid 1px rgba(0, 0, 0, 0.5);
	  	transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	}
	
	#cursor.arrow .cursor__circle{
	  width: 128px;
	  height: 128px;
	  background-color: #073099;
	  border-color: #073099;
	}
	
	#cursor.arrow::after{
	  content: '';
	  position: absolute;
	  left: -50%;
	  top: -50%;
	  width: 100%;
	  height: 100%;
	  background-image: url('https://svgshare.com/i/MzQ.svg');
	  background-repeat: no-repeat;
	  background-position: center;
	}
	
	#cursor.hover .cursor__circle{
		width: 60px;
		height: 60px;
		background-color: rgba(0, 0, 0, 0.08);
		border-color: transparent;
	}

	#cursor.null .cursor__circle{
		width: 60px;
		height: 60px;
		background-color: rgba(0, 0, 0, 0.08);
		border-color: transparent;
	}

	#cursor.giant .cursor__circle{
		width: 300px;
		height: 300px;
		background-color: rgba(0, 0, 0, 0.5);
		border-color: transparent;
		opacity: 0.2;
	}

	#cursor.giant::after{
		content: '';
		position: absolute;
		left: -50%;
		top: -50%;
		width: 100%;
		height: 100%;
		background-image: url('https://svgshare.com/i/MzQ.svg');
		background-repeat: no-repeat;
		background-position: center;
	}

}