.form,
form {
	width: 100%;
}

.form--search {

	position: relative;

	&.is-search-loading {
		.form__button {
			opacity: 0;
		}
	}

	.form__label {
		@apply text-gray-500;
	}

	.form__input {
		border: 0;
		@apply border;
		@apply border-gray-500;
		@apply py-6 px-0;
		height: auto;
		font-weight: bold;
		@apply text-xl;

		@screen md {
			@apply text-4xl
		}

		&:focus,
		&:active {
			box-shadow: none;
			@apply text-gray-700;
			outline: none;
		}

		&::-ms-clear {
			display: none;
		}
	}

	.form__button {
		position: absolute;
		@apply bottom-6;
		right: 0;
		margin: 0;
		background-color: transparent;
		border: 0;
		padding: 0;
		opacity: 1;
		transition: opacity 0.4s;
		@screen md {
			@apply bottom-3;
		}
	}

	.form__icon {
		@apply text-black;
		@screen md {
			height: 42px;
		}
	}
}

.form__fieldset,
fieldset {
	@apply border;
	@apply border-gray-500;
	@apply m-0;
	@apply mb-6;
}

.form__legend,
legend {
	font-weight: bold;
	@apply px-0;
	@apply py-6;
	@apply h-6;
}

.form__label,
label {
	display: block;

	&.has-error,
	.has-error & {
		@apply text-red-600;
	}

	&.has-success,
	.has-success & {
		@apply text-green-500;
	}

	&.has-warning,
	.has-warning & {
		@apply text-yellow-300;
	}

}

.form__input,
input,
.form__textarea,
textarea,
.form__select,
select {
	display: block;
	@apply m-0;
	@apply mb-6;
	@apply border;
	@apply border-gray-500;
	@apply p-1.5;
	@apply h-12;
	outline: none;
	@apply bg-white;
	@apply text-gray-600;
	width: 100%;
	border-radius: 0;

	&:focus,
	&:active {
		box-shadow: inset 0 0 3px theme('colors.gray.500');
		color: #444;
		outline: none;
	}

	&[readonly],
	&[disabled] {
		@apply border-gray-500;
		opacity: 0.6;
		cursor: not-allowed;
		@apply bg-gray-500;
		@apply text-black;

		&:hover {
			@apply bg-gray-500;
		}

		&:focus,
		&:active {
			box-shadow: none;
			outline: none;
		}

	}

	&.has-error,
	.has-error & {
		@apply border-red-700
	}

	&.has-success,
	.has-success & {
		@apply border-red-700
	}

	&.has-warning,
	.has-warning & {
		@apply border-yellow-300;
	}
}

// Textarea
.form__textarea,
textarea {
	height: auto;
	max-width: 100%;
	resize: vertical;
	min-height: 192px;
}

.form__input--checkbox,
[type="checkbox"],
.form__input--radio,
[type="radio"] {
	height: auto;
	width: auto;
	line-height: normal;
	padding: 0;
	display: inline;
	border: 0;
	vertical-align: middle;
	margin: 0 4px 0 0;
}

// Radio and checkbox
.form__input--checkbox + label,
[type="checkbox"] + label,
.form__input--radio + label,
[type="radio"] + label {
	display: inline-block;
}

// Radio custom ( Wrap the radio with this class )
.form__group--custom-radio {

	[type="radio"] {
		display:none;
	}

	[type="radio"] + label {
		&:before {
			content: "";
			width: 14px;
			height: 14px;
			display: inline-block;
			@apply bg-gray-500;
			margin-right: 10px;
			cursor: pointer;
			border-radius:100%;
		}

		&:after {
			animation-duration: 0.8s;
			animation-fill-mode: both;
		}
	}

	[type="radio"]:checked + label {

		position: relative;

		&:after {
			animation-duration: 0.3s;
			animation-name: fade-in;
			@apply bg-primary;
			content: " ";
			width: 8px;
			height: 8px;
			position: absolute;
			left: 3px;
			top: 7px;
			border-radius: 100%;
			cursor: pointer;
		}

	}

	[readonly] + label,
	[disabled] + label {

		&:after,
		&:before {
			@apply border-gray-500;
			opacity: 0.4;
			cursor: not-allowed;
		}

	}

}

// Checkbox custom  ( Wrap the checkbox with this class )
.form__group--custom-checkbox {

	[type="checkbox"] {
		display:none;
	}

	[type="checkbox"] + label {
		&:before {
			content: "";
			width: 14px;
			height: 14px;
			display: inline-block;
			@apply bg-gray-500;
			margin-right: 10px;
			cursor: pointer;
		}

		&:after {
			animation-duration: 0.8s;
			animation-fill-mode: both;
		}
	}

	[type="checkbox"]:checked + label {

		position: relative;

		&:after {
			animation-name: fade-in;
			animation-duration: 0.3s;
			@apply text-primary;
			content: "\2713";
			position: absolute;
			left: 0;
			top: -1px;
			cursor: pointer;
		}

	}

	[readonly] + label,
	[disabled] + label {

		&:after,
		&:before {
			@apply border-gray-500;
			opacity: 0.4;
			cursor: not-allowed;
		}

	}

}


// File
[type="file"] {
	border: none;
	line-height: 100%;
	padding: 0;
}

// Range
[type="range"] {

	border: none;
	padding: 0;
	width: 100%;
	outline: none;
	background: transparent;
	appearance: none;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		@apply bg-gray-500;
		border: none;
		border-radius: 3px;
		height: 5px;
	}

	&::-moz-range-track {
		@apply bg-gray-500;
		border: none;
		border-radius: 3px;
		height: 5px;
	}

	&::-ms-track {
		@apply bg-gray-500;
		border: none;
		border-radius: 3px;
		color: transparent;
		height: 5px;
	}

	&::-webkit-slider-thumb {
		border: none;
		border-radius: 50%;
		@apply bg-primary;
		height: 16px;
		margin-top: -5px;
		width: 16px;
		-webkit-appearance: none;
	}

	&::-moz-range-thumb {
		border: none;
		border-radius: 50%;
		@apply bg-primary;
		height: 16px;
		margin-top: -5px;
		width: 16px;
	}

	&::-ms-thumb {
		border: none;
		border-radius: 50%;
		@apply bg-primary;
		height: 16px;
		margin-top: -5px;
		width: 16px;
	}

}

// Select
.form__select,
select {

	max-width: 100%;
	@apply p-1.5;
	@apply h-12;

	option {
		@apply px-0;
@apply py-6;
	}

}

.form__select--multiple,
select[multiple] {
	@apply border;
	@apply border-gray-500;
	padding: 0 !important;
	height: 120px;

	option {
		height: 36px;
		@apply pt-3;
	}

}

// Select custom ( Wrap the select with this class )
.form__group--select-custom {

	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 42%;
		right: 10px;
		//@include triangle( bottom, theme('colors.gray.500'), 6px )
	}

	select {
		appearance: none;
	}

}

// Messages
.form__input + .message,
input + .message,
.form__select + .message,
select + .message,
.form__textarea + .message,
textarea + .message {
	margin-top: - 24px;
}

// Buttons
[type="button"],
[type="submit"] {
	width: auto;
	@extend .button;
}

// Placeholders
::-webkit-input-placeholder {
	color: grey;
}

:-moz-placeholder {
	color: grey;
	opacity: 1;
}

::-moz-placeholder {
	color: grey;
	opacity: 1;
}

:-ms-input-placeholder {
	color: grey;
}

// WooCommerce
.form-row-wide,
.form-row-first,
.form-row-last {
	clear: both;
	float: none;
	width: 100%;
	margin-right: 0;
}

@screen md {
	.form-row-first {
		width: 47%;
		float: left;
		margin-right: 5.8%;
		clear: both;
	}
	.form-row-last {
		width: 47%;
		float: right;
		margin-right: 0;
		clear: none;
	}
}

.select2-selection__rendered {
	line-height: 46px !important;
}

.select2-container .select2-selection--single {
	height: 50px !important;
	@apply border-gray-500;
	.woocommerce-validated & {
		border: 1px solid !important;
		@apply border-green-500;
	}
	.woocommerce-invalid & {
		border: 1px solid !important;
		@apply border-red-700;
	}
}
.select2-selection__arrow {
	height: 49px !important;
}