.header-simple {
	.navigation--primary {
		@apply w-full relative;

		@screen lg {
			@apply w-auto static;
		}

		.navigation__item {
			@apply block;

			@screen lg {
				@apply flex justify-start pr-4;
			}

			@screen xl {
				@apply flex justify-start pr-6;
			}
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20;
			@screen lg {
				@apply block py-3 text-lg border-0 font-bold;
			}
		}

		.navigation__list {
			@apply m-0;
			@screen lg {
				@apply flex justify-start;
			}
		}

		/* SUB MENU */
		.navigation__sub-menu {
			@apply relative m-0;
			@apply hidden;
			@screen lg {
				@apply absolute top-16 left-6 pt-6;
				width: calc(50% - 48px);

				/* &:before {
					content: "";
					position: absolute;
					top: -10px;
					left: 50%;
					margin-left: -10px;
					height: 20px;
					width: 20px;
					@apply bg-white dark:bg-black;
					transform: rotate(45deg);
				} */

				&:after {
					content: "";
					@apply absolute top-0 bg-white dark:bg-black;
					left: -100vw;
					height: calc(100% + 24px);
					width: 200vw;
					z-index: -2;
				}

				.has-children .navigation__sub-menu {
					@apply hidden;
				}
			}

			&.is-active {
				@apply inline-block absolute top-0 h-auto opacity-100 visible;
				left: 100vw;
				width: 100%;

				@screen lg {
					@apply relative left-auto top-auto w-auto;
				}
			}

			.navigation__link {
				@screen lg {
					@apply border-b border-gray-400 border-opacity-20;
				}
			}

			.navigation__item {
				@apply block;
				@apply h-auto;
				&:last-child {
					.navigation__link {
						@apply lg:border-0;
					}
				}
				@screen lg {
					@apply bg-transparent;
				}

				.navigation__link {
					@apply block text-lg py-3 border-b border-gray-400 border-opacity-20;
					@screen lg {
						&:after {
							@apply hidden;
						}
					}
				}
			}
		}

		.is-hover {
			.navigation__sub-menu {
				@apply block;

				.navigation__image {
					@apply hidden;
				}
			}
		}

		.navigation__image {
			@apply hidden;
		}

		.navigation__item.has-children {
			> .navigation__link {
				&:after {
					content: "";
					position: absolute;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					right: 8px;
					background: url("../img/icons/chevron-right.svg");
				}
				@screen lg {
					@apply relative pr-10;

					&:after {
						margin-top: 4px;
						right: 12px;
						background: url("../img/icons/chevron-down.svg");
					}
				}
			}
		}
	}

	.navigation--secondary {
		@apply relative w-full;

		@screen lg {
			width: auto;
		}

		.navigation__item {
			display: block;
			@screen lg {
				@apply inline-block;
			}
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20;
			@screen lg {
				@apply text-base py-0 border-0;
			}
		}
	}
}
