.header-mega-menu {
	//Header
	.header__panel {
		&:hover {
			.navigation--panel-primary {
				@apply opacity-100;
			}
		}
	}

	//Navigation Primary
	.navigation--primary {
		.navigation__item {
			@apply block lg:flex lg:justify-start lg:pr-4 xl:flex xl:justify-start xl:pr-6;
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20 font-bold lg:block lg:py-3 lg:text-lg lg:border-0;
		}

		.navigation__list {
			@apply m-0 lg:flex lg:justify-start;
		}

		.navigation__sub-menu {
			@apply relative hidden m-0 lg:absolute lg:top-16 lg:left-6 lg:pt-6;
			@screen lg {
				width: calc(50% - 48px);

				&:after {
					content: "";
					@apply absolute top-0 bg-white dark:bg-black;
					left: -100vw;
					height: calc(100% + 24px);
					width: 200vw;
					z-index: -2;
				}

				.has-children .navigation__sub-menu {
					@apply hidden;
				}
			}

			&.is-active {
				@apply inline-block absolute top-0 h-auto opacity-100 visible lg:relative lg:left-auto lg:top-auto lg:w-auto;
				left: 100vw;
				width: 100%;
			}

			.navigation__link {
				@apply lg:border-b lg:border-gray-400 lg:border-opacity-20;
			}

			.navigation__item {
				@apply block h-auto lg:bg-transparent;
				&:last-child {
					.navigation__link {
						@apply lg:border-0;
					}
				}

				.navigation__link {
					@apply block text-lg py-3 border-b border-gray-400 border-opacity-20;
					&:after {
						@apply lg:hidden;
					}
				}
			}
		}

		.is-hover {
			.navigation__sub-menu {
				@apply lg:block;

				.navigation__image {
					@apply lg:hidden;
				}
			}
		}

		.navigation__image {
			@apply hidden lg:absolute lg:top-16 lg:right-6 lg:pt-6;
			@screen lg {
				width: calc(50% - 48px);

				&:after {
					content: "";
					@apply absolute top-0 bg-white dark:bg-black;
					left: -100vw;
					height: calc(100% + 24px);
					width: 200vw;
					z-index: -1;
				}
			}
		}

		.is-hover {
			.navigation__image {
				@apply hidden lg:block;		
			}
		}

		.navigation__item.has-children {
			> .navigation__link {
				@apply lg:relative lg:pr-10;
				&:after {
					content: "";
					position: absolute;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					right: 8px;
					background: url("../img/icons/chevron-right.svg");
				}
				@screen lg {
					&:after {
						margin-top: 4px;
						right: 12px;
						background: url("../img/icons/chevron-down.svg");
					}
				}
			}
		}
	}

	//Navigation Panel Primary
	.navigation--panel-primary {
		@apply w-full relative lg:px-8;

		@screen lg {
			transition-timing-function: ease-in-out;
			transition: 0.2s;
		}

		.navigation__item {
			@apply block;
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20 font-bold;
		}

		.navigation__sub-menu {
			@apply relative hidden m-0 lg:absolute lg:top-16 lg:left-6 lg:px-8;
			@screen lg {
				width: calc(100% - 24px);
			}

			&.is-active {
				@apply inline-block absolute top-0 h-auto opacity-100 visible;
				left: 100vw;
				width: 100%;

				@screen lg {
					left: 100%;
				}
			}

			.navigation__link {
				@apply lg:border-b lg:border-gray-400 lg:border-opacity-20;
			}

			.navigation__item {
				@apply block h-auto lg:bg-transparent;
				&:last-child {
					.navigation__link {
						@apply lg:border-0;
					}
				}
				.navigation__link {
					@apply block text-lg py-3 border-b border-gray-400 border-opacity-20;
				}
			}
		}

		.navigation__item.has-children {
			> .navigation__link {
				&:after {
					content: "";
					position: absolute;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					right: 8px;
					background: url("../img/icons/chevron-right.svg");
				}

				@screen lg {
					&:after {
						right: 32px;
					}
				}
			}
		}
	}

	.is-hover {
		.navigation--panel-primary {
			@apply hidden;
		}
	}
	//Navigation Secondary
	.navigation--secondary {
		@apply relative w-full;

		@screen lg {
			width: auto;
		}

		.navigation__item {
			@apply block lg:inline-block lg:pl-6;
			@screen lg {
				&:first-child {
					@apply pl-0;
				}
			}
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20 lg:text-base lg:py-0 lg:border-0;
		}

		.navigation__list {
			@apply block m-0 lg:flex lg:justify-start;
		}

		.navigation__sub-menu {
			@apply relative hidden m-0 lg:block lg:text-center lg:m-auto lg:absolute lg:opacity-0 lg:invisible lg:top-8 lg:left-2/4 lg:w-44 lg:z-40;
			@screen lg {
				transform: translateX(calc(-50% - 12px));
				.has-children .navigation__sub-menu {
					@apply hidden;
				}

				.navigation__link {
					@apply opacity-0 bg-gray-200 top-3 relative transition-all duration-300 ease-in-out animate-fade-in-staggered;
				}
			}

			&.is-active {
				@apply inline-block absolute top-0 h-auto opacity-100 visible lg:relative lg:left-auto lg:top-auto lg:w-auto;
				left: 100vw;
				width: 100%;
			}

			.navigation__link {
				@apply lg:border-b lg:border-gray-400 lg:border-opacity-20;
			}

			.navigation__item {
				@apply block h-auto lg:bg-transparent;
				&:last-child {
					.navigation__link {
						@apply lg:border-0;
					}
				}

				.navigation__link {
					@apply block text-lg py-3 border-b border-gray-400 border-opacity-20;
					@screen lg {
						&:after {
							@apply hidden;
						}
					}
				}
			}
		}

		.is-hover {
			@apply lg:relative;
			.navigation__sub-menu {
				@apply lg:visible lg:opacity-100;
				.navigation__link {
					@apply lg:opacity-100 lg:top-0;
				}
			}
		}

		.navigation__image {
			@apply hidden;
		}

		.is-hover {
			.navigation__image {
				@apply hidden;
			}
		}

		.navigation__item.has-children {
			> .navigation__link {
				@apply lg:relative lg:pr-10;
				&:after {
					content: "";
					position: absolute;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					right: 8px;
					background: url("../img/icons/chevron-right.svg");
				}
				@screen lg {
					&:after {
						margin-top: 4px;
						right: 12px;
						background: url("../img/icons/chevron-down.svg");
					}
				}
			}

			.navigation__sub-menu {
				.navigation__item {
					.navigation__link {
						@apply pr-0 !important;
					}
				}
			}

			.navigation__sub-menu {
				.navigation__item {
					@apply pr-0 !important;
				}
			}
		}
	}
}
