.header-logo-centered {
	@screen lg {
		.scroll-direction-down & {
			@apply top-0;
		}
	}

	//Minicart Buotton
	.shopping-cart__link {
		span {
			@apply hidden;
		}
	}
	//Navigation Primary
	.navigation--primary,
	.navigation--secondary {
		.navigation__item {
			@apply block lg:flex lg:justify-start lg:pr-4 xl:flex xl:justify-start xl:pr-6;
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20 font-bold lg:block lg:py-2 lg:text-base lg:border-0;	
		}

		.navigation__list {
			@apply m-0 lg:flex lg:justify-start;
		}

		.navigation__sub-menu {
			@apply relative hidden m-0 lg:block lg:text-center lg:m-auto lg:absolute lg:bg-transparent lg:opacity-0 lg:invisible lg:top-10 lg:left-2/4 lg:w-56 lg:z-40;
			@screen lg {
				transform: translateX(calc(-50% - 24px));
			}
			.has-children .navigation__sub-menu {
				@apply lg:hidden;
			}

			&.is-active {
				@apply inline-block absolute top-0 h-auto opacity-100 visible lg:relative lg:left-auto lg:top-auto lg:w-auto;
				left: 100vw;
				width: 100%;
			}

			.navigation__link {
				@apply lg:border-b lg:border-gray-400 lg:border-opacity-20 lg:opacity-0 lg:bg-gray-200 lg:top-3 lg:relative lg:transition-all lg:duration-300 lg:ease-in-out lg:animate-fade-in-staggered;
			}

			.navigation__item {
				@apply block h-auto lg:bg-transparent;
				@apply lg:pr-0 !important;

				&:last-child {
					.navigation__link {
						@apply lg:border-0;
					}
				}
					

				.navigation__link {
					@apply block text-base py-3 border-b border-gray-400 border-opacity-20;
					@apply lg:pr-0 !important;
					&:after {
						@apply lg:hidden lg:text-base;
					}
				}
			}
		}

		.is-hover {
			@apply lg:relative;

			.navigation__sub-menu {
				@apply lg:visible lg:opacity-100;

				.navigation__link {
					@apply lg:opacity-100 lg:top-0;
				}

				.navigation__image {
					@apply lg:hidden;
				}
			}

		}

		.navigation__image {
			@apply hidden;
		}

		.is-hover {
			.navigation__image {
				@apply hidden;
			}
		}

		.navigation__item.has-children {
			> .navigation__link {
				@apply lg:relative lg:pr-10;
				&:after {
					content: "";
					position: absolute;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					right: 8px;
					background: url("../img/icons/chevron-right.svg");
				}
				@screen lg {				
					&:after {
						margin-top: 4px;
						right: 12px;
						background: url("../img/icons/chevron-down.svg");
					}
				}
			}
		}
	}
}
