.header {
	@apply sticky top-0 border-b border-gray-200 z-40 duration-500;

	@screen lg {
		.scroll-direction-down & {
			@apply -top-16;
		}
	}

	.is-navigation-open & {
		@apply fixed top-0 left-0 w-screen;
		.scroll-direction-down & {
			@apply top-0;
		}
	}

	.header__body {
		transform: translateX(100%);
		@apply transition-all ease-default lg:transform-none;

		.is-navigation-open & {
			@apply transform-none;
		}

		.scroll-direction-down & {
			@apply top-16;
		}

		@screen lg {
			.scroll-direction-down & {
				@apply top-0;
			}
		}
	}

	.header__container {
		/* il movimento laterale è in menu.js */
		@apply transition-all ease-default;

		&.is-active {
			@apply lg:transform-none;
		}
	}

	.header__back {
		transform: translateX(-200%);
		@apply transition-all ease-default;

		.is-sub-navigation-open & {
			transform: translateX(0%);
		}

		/* transform: translateX(-200%); */
		@apply lg:transform lg:-translate-x-full lg:duration-75 lg:ease-default;

		.is-overlay-panel-open.is-sub-navigation-open & {
			@apply lg:transform-none;
		}
	}

	.header__cart,
	.header__logo {
		@apply opacity-100 visible;
		transition: opacity 0.15s ease-in-out;

		.is-navigation-open & {
			@apply opacity-0 invisible;
		}
	}

	.header__bar-mobile {
		transform: translateX(0%);
		/* transition-timing-function: ease-in-out;
		transition: 0.75s; */
		animation-duration: 0.75s;

		.is-navigation-open & {
			transform: translateX(calc(100vw - 72px));
			animation-name: slideInPosticipate;
			@keyframes slideInPosticipate {
				0% {
					opacity: 0;
				}

				25% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}
	}
}
