.header-simple {
	//Navigation Primary
	.navigation--primary {
		.navigation__item {
			@apply block;

			@screen lg {
				@apply flex justify-start pr-4;
			}

			@screen xl {
				@apply flex justify-start pr-6;
			}
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20 font-bold;
			@screen lg {
				@apply block py-3 text-lg border-0;
			}
		}

		.navigation__list {
			@apply m-0;
			@screen lg {
				@apply flex justify-start;
			}
		}

		.navigation__sub-menu {
			@apply relative m-0;
			@apply hidden;
			@screen lg {
				@apply block text-center m-auto absolute bg-gray-200 opacity-0 invisible top-12 w-56 z-40;
				left: 50%;
				transform: translateX(calc(-50% - 24px));
				.has-children .navigation__sub-menu {
					@apply hidden;
				}
			}

			&.is-active {
				@apply inline-block absolute top-0 h-auto opacity-100 visible;
				left: 100vw;
				width: 100%;

				@screen lg {
					@apply relative left-auto top-auto w-auto;
				}
			}

			.navigation__link {
				@screen lg {
					@apply border-b border-gray-400 border-opacity-20;
				}
			}

			.navigation__item {
				@apply block;
				@apply h-auto;
				&:last-child {
					.navigation__link {
						@apply lg:border-0;
					}
				}
				@screen lg {
					@apply bg-transparent;
				}

				.navigation__link {
					@apply block text-base py-3 border-b border-gray-400 border-opacity-20;
					@screen lg {
						&:after {
							@apply hidden;
						}
					}
				}
			}
		}

		.is-hover {
			@screen lg {
				@apply relative;
				.navigation__sub-menu {
					@apply opacity-100 visible;

					.navigation__image {
						@apply hidden;
					}
				}
			}
		}

		.navigation__image {
			@apply hidden;
		}

		.is-hover {
			.navigation__image {
				@apply hidden;
			}
		}

		.navigation__item.has-children {
			> .navigation__link {
				&:after {
					content: "";
					position: absolute;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					right: 8px;
					background: url("../img/icons/chevron-right.svg");
				}
				@screen lg {
					@apply relative pr-10;

					&:after {
						margin-top: 4px;
						right: 12px;
						background: url("../img/icons/chevron-down.svg");
					}
				}
			}

			.navigation__sub-menu {
				.navigation__item {
					.navigation__link {
						@apply pr-0 !important;
					}
				}
			}

			.navigation__sub-menu {
				.navigation__item {
					@apply pr-0 !important;
				}
			}
		}
	}

	//Navigation Secondary
	.navigation--secondary {
		@apply relative w-full;

		@screen lg {
			width: auto;
		}

		.navigation__item {
			display: block;
			@screen lg {
				@apply inline-block pl-6;

				&:first-child {
					@apply pl-0;
				}
			}
		}

		.navigation__link {
			@apply block text-lg py-4 border-b border-gray-400 border-opacity-20;
			@screen lg {
				@apply text-base py-0 border-0;
			}
		}

		.navigation__list {
			@apply block m-0;

			@screen lg {
				@apply flex justify-start;
			}
		}

		.navigation__sub-menu {
			@apply relative m-0;
			@apply hidden;
			@screen lg {
				@apply block text-center m-auto absolute bg-gray-200 opacity-0 invisible top-8 w-44 z-40;
				left: 50%;
				transform: translateX(calc(-50% - 12px));
				.has-children .navigation__sub-menu {
					@apply hidden;
				}
			}

			&.is-active {
				@apply inline-block absolute top-0 h-auto opacity-100 visible;
				left: 100vw;
				width: 100%;

				@screen lg {
					@apply relative left-auto top-auto w-auto;
				}
			}

			.navigation__link {
				@screen lg {
					@apply border-b border-gray-400 border-opacity-20;
				}
			}

			.navigation__item {
				@apply block;
				@apply h-auto;
				&:last-child {
					.navigation__link {
						@apply lg:border-0;
					}
				}
				@screen lg {
					@apply bg-transparent;
				}

				.navigation__link {
					@apply block text-lg py-3 border-b border-gray-400 border-opacity-20;
					@screen lg {
						&:after {
							@apply hidden;
						}
					}
				}
			}
		}

		.is-hover {
			@screen lg {
				@apply relative;
				.navigation__sub-menu {
					@apply opacity-100 visible;

					.navigation__image {
						@apply hidden;
					}
				}
			}
		}

		.navigation__image {
			@apply hidden;
		}

		.is-hover {
			.navigation__image {
				@apply hidden;
			}
		}

		.navigation__item.has-children {
			> .navigation__link {
				&:after {
					content: "";
					position: absolute;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					right: 8px;
					background: url("../img/icons/chevron-right.svg");
				}
				@screen lg {
					@apply relative pr-10;

					&:after {
						margin-top: 4px;
						right: 12px;
						background: url("../img/icons/chevron-down.svg");
					}
				}
			}

			.navigation__sub-menu {
				.navigation__item {
					.navigation__link {
						@apply pr-0 !important;
					}
				}
			}

			.navigation__sub-menu {
				.navigation__item {
					@apply pr-0 !important;
				}
			}
		}
	}
}
