.message {
	@apply relative block py-3 text-primary border-primary;

	&.has-error,
	.has-error & {
		@apply text-red-600 border-red-600;
		.message__close {
			@apply text-red-600;
		}
	}

	&.has-success,
	.has-success & {
		@apply text-green-500 border-green-500;
		.message__close {
			@apply text-green-500;
		}
	}

	&.has-warning,
	.has-warning & {
		@apply text-yellow-300 border-yellow-300;
		.message__close {
			@apply text-yellow-300;
		}
	}

	&--secondary {
		@apply text-secondary border-secondary;
		.message__close {
			@apply text-secondary;
		}
	}

	&--bordered {
		@apply py-3 px-6 border;

		&.message--small {
			@apply h-6;
		}

		&.message--big {

		}

	}

	&--fill {
		@apply px-6 bg-primary text-white;

		.has-error &,
		&.has-error {
			@apply bg-red-600 text-white;
		}

		.has-success &,
		&.has-success {
			@apply bg-green-500 text-white;
		}

		.has-warning &,
		&.has-warning {
			@apply bg-yellow-300 text-white;
		}

		.message--secondary &,
		&.message--secondary {
			@apply text-white bg-secondary;
		}

		.message__close {
			@apply text-white;
		}

	}

	&--small {
		@apply py-0;
	}

	&--big {
		@apply py-6;
	}

	&--rounded {
		@apply rounded-md;
	}

	&--pill {
		@apply rounded-full;
	}

}


.message__close {
	@apply float-right text-primary no-underline;
}
