@layer components {
	.navicon {
		-webkit-tap-highlight-color: transparent;
		transition: transform 1000ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&__line {
			fill: none;
			transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
			@apply stroke-current text-black dark:text-white;
			stroke-width: 4;
			stroke-linecap: round;

			&.top {
				stroke-dasharray: 40 139;
			}

			&.bottom {
				stroke-dasharray: 40 180;
			}
		}

		.is-navigation-open & {
			transform: rotate(45deg);

			.navicon__line {
				&.top {
					stroke-dashoffset: -98px;
				}

				&.bottom {
					stroke-dashoffset: -138px;
				}
			}
		}
	}
}
