.pagination {
	list-style: none;
	@apply my-12 mx-0;
	text-align: center;

	@screen md {
		display: table-row;
	}

	.is-active {
		display: inline-block;
		text-align: center;
		@screen md {
			text-align: left;
			display: table-cell;
		}
		.pagination__text {
			text-decoration: none;
			@apply bg-black;
			@apply text-white;
			cursor: default;
			@media ( max-width: theme('screens.md') ) {
				@apply text-black;
				border: none;
				background: none;
				&:before {
					content: attr(data-page);
				}
			}
		}
	}

}

.pagination__text {
	@apply p-5;
	text-decoration: none;
	@apply text-gray-500;
	cursor: pointer;
	position: relative;
	display: block;
	line-height: 1.25;
	margin-left: -1px;

	&:hover {
		@apply bg-primary;
		@apply text-white;
	}

}

.pagination__item {
	display: none;
	@apply text-black;
	line-height: 1.25;
	text-align: center;

	@screen md {
		display: table-cell;
		margin-left: -1px;
		width: auto;
		text-align: left;
	}

	&--prev,
	&--next {
		display: inline-block !important;
		.pagination__text {
			@apply bg-black;
			@apply text-white;
			border: none;
			cursor:pointer;
			&:hover {
				@apply bg-primary;
			}

			@screen md {
				background: none;
				@apply text-gray-500;
				&:hover {
					@apply text-black;
					background-color: transparent;
				}
			}

		}
	}

	&--prev {
		.pagination__text {
			&:before {
				content: "< ";
			}
		}
	}

	&--next {
		.pagination__text {
			&:after {
				content: " >";
			}
		}
	}

	&--dots {
		.pagination__text {
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			cursor: default;

			&:hover {
				background: none;
				@apply text-gray-500;
			}
		}
	}
}
