@layer utilities {
    @variants responsive {
        .scroll-snap-none {
            scroll-snap-type: none;
        }
        .scroll-snap-x-mandatory {
            scroll-snap-type: x mandatory;
        }
        .scroll-snap-y-mandatory {
            scroll-snap-type: y mandatory;
        }

        .scroll-snap-align-center {
            scroll-snap-align: center;
        }

        .scroll-snap-align-start {
            scroll-snap-align: start;
        }

        .scroll-snap-align-end {
            scroll-snap-align: end;
        }

        .scroll-snap-align-none {
            scroll-snap-align: none;
        }

    }
}