.search {
	@apply fixed top-0 left-0 bottom-0 right-0 z-40 invisible;
	transition: visibility 0s 0.6s;

	&.is-search-open {
		@apply overflow-y-auto visible;
		transition: visibility 0s 0s;
	}
}

.search__content {
	@apply bg-white relative;

	@screen lg {
		@apply bg-white relative w-full;
		transition: transform var(--ease-speed) var(--ease-in-out-quint);
		transform: translateY(-100%);
	}

	.is-search-open & {
		transform: none;
	}
}

.search__bg {
	@apply absolute opacity-0 left-0 top-0 right-0 bottom-0;
	transition: opacity 0.5s ease;
	&:before {
		content: "";
		@apply opacity-0 invisible fixed top-16 left-0 right-0 bottom-0 -z-1 lg:top-36 bg-white;
	}
	.is-search-open & {
		@apply opacity-100;

		&:before {
			content: "";
			@apply opacity-100 visible;
		}
	}
}

.search__close {
	@apply fixed top-5 right-6 cursor-pointer text-black lg:top-14 lg:right-8 lg:w-24 lg:h-24;
}

.search__spinner {
	@apply inline-block transition-all duration-500 absolute top-1 right-0 opacity-0 invisible;

	@screen lg {
		@apply absolute top-0;
	}

	.is-search-open & {
		@apply -right-20;
		@screen lg {
			@apply right-auto -left-16;
		}
	}

	.is-search-loading & {
		@apply opacity-100 visible;
	}
}

.search__result {
	@apply mt-12;
}

.search__button {
	@apply absolute right-10 bg-white h-8 w-8 rounded-full;

	@screen lg {
	}
}

.search__form {
	&:before {
		content: "";
		@apply opacity-0 invisible fixed top-0 left-0 right-0 bottom-0 -z-1 bg-white;
	}

	.is-search-open & {
		&:before {
			content: "";
			@apply opacity-100 visible;
		}

		@apply fixed top-3;
		width: 70vw;

		@screen lg {
			@apply top-12;
			width: 50vw;
			left: 25vw;
		}

		input {
			@screen lg {
				@apply h-16;
			}
		}
	}
}
