.sidebar {
	display: none;
	@screen lg {
		display: block;
	}

	&.is-sidebar-open {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background: #fff;
		z-index: 99;
		overflow: scroll;
	}
}

.sidebar__body {
	@apply px-6;
	@apply pt-6;
	@apply pb-20;

	@screen lg {
		padding: 0;
	}
}

.sidebar__footer {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;

	@screen lg {
		display: none;
	}
}

.sidebar__button {
	width: 100%;
	margin: 0;
}