.spinner {
	animation: rotate 0.8s infinite linear;
	border: 3px solid;
	@apply border-primary;
	border-radius: 50%;
	border-right-color: transparent;
	@apply h-12;
	@apply w-12;
	margin: 1lh auto;
}
