.table--responsive {

	display: block;

	@screen lg {
		display: table;
	}

	thead,
	tbody,
	tfoot,
	tr,
	th,
	td {
		display: block;
	}

	thead {

		@screen lg {
			display: table-header-group;
		}

		th {

			position: absolute;
			top: -9999px;
			left: -9999px;

			@screen lg {
				position: relative;
				top: auto;
				left: auto;
			}

		}

	}

	tbody {

		@screen lg {
			display: table-row-group;
		}

	}

	tfoot {

		@screen lg {
			display: table-footer-group;
		}

	}

	tr {

		@apply mb-6;

		@screen lg {
			display:table-row;
		}

	}

	td,
	th {

		@screen lg {
			display:table-cell;
		}

	}


	td {
		vertical-align: top;
		@media ( max-width: theme('screens.lg') ) {
			border: 0;
		}

		@screen lg {
			background-color: transparent;
			//width: 1px;
			white-space:nowrap;
		}


		&:before {
			@apply block text-black text-base;
			content: attr(data-title);

			@screen lg {
				display: none;
			}

		}

	}

}



table {
	@apply bg-transparent !important;

	thead {
		@apply bg-primary text-white border-0 !important;
		th {
			@apply text-white !important;
		}
	}

	tfoot {
		@apply border-t border-gray-200 !important;
	}

	th {
		@apply py-6 text-left text-base font-medium text-black !important;
	}

	td {
		@apply py-6 whitespace-nowrap text-base font-medium text-gray-900 !important;
	}
}
