[data-tooltip],
.tooltip {
	display: inline;
	position: relative;

	&:after,
	&:before {
		animation-duration: 0.8s;
		animation-fill-mode: both;
		animation-duration: 0.4s;
		opacity: 0;
		position: absolute;
		z-index: 1;
		left: 50%;
		transform: translate(-50%, -10px);
		width: auto;
	}

	&:after {
		font-size: 16px;
		padding: em(12px);
		@apply bg-black;
		@apply text-white;
		line-height: 24px;
		text-align: left;
		pointer-events: none;
		bottom: 100%;
		text-align: center;
		white-space: pre;
	}

	&:hover {
		&:after,
		&:before {
			animation-name: fade-in;
		}
	}

	&[title]:after {
		content: attr(title);
	}

	&[data-tooltip]:after {
		content: attr(data-tooltip);
	}

	&:before {
		content: "";
		bottom: 50%;
		/* @include triangle( bottom, theme('colors.black'), 10px ) */
	}

	&:hover {
		overflow: visible;
	}
}

[data-tooltip-direction="top-left"],
.tooltip--top-left {
	&:after {
		left: auto;
		right: -10px;
		transform: translate(0, -10px);
		text-align: right;
	}
	&:before {
		left: auto;
		right: 0;
		transform: translate(0, -10px);
	}
}

[data-tooltip-direction="right"],
.tooltip--top-right {
	&:after {
		left: -10px;
		transform: translate(0, -10px);
		text-align: right;
	}
	&:before {
		left: 0;
		transform: translate(0, -10px);
	}
}

[data-tooltip-direction="left"],
.tooltip--left {
	&:after {
		bottom: auto;
		left: auto;
		top: 10px;
		right: 100%;
		transform: translate(-10px, -50%);
	}
	&:before {
		bottom: auto;
		left: -6px;
		top: 50%;
		/* @include triangle( right, theme('colors.black'), 10px) */
	}
}

[data-tooltip-direction="bottom"],
.tooltip--bottom {
	&:after {
		left: 50%;
		bottom: -10px;
		transform: translate(-50%, 100%);
	}
	&:before {
		left: 50%;
		bottom: -20px;
		/* @include triangle( top, theme('colors.black'), 10px) */
	}
}

[data-tooltip-direction="bottom-right"],
.tooltip--bottom-right {
	@extend .tooltip--bottom;
	&:after {
		left: auto;
		right: 0;
		transform: translate(0, 100%);
	}
	&:before {
		left: auto;
		right: 10px;
		transform: translate(0, -10px);
	}
}

[data-tooltip-direction="bottom-left"],
.tooltip--bottom-left {
	@extend .tooltip--bottom;
	&:after {
		left: 0;
		transform: translate(0, 100%);
	}
	&:before {
		left: 10px;
		transform: translate(0, -10px);
	}
}

[data-tooltip-direction="right"],
.tooltip--right {
	&:after {
		bottom: auto;
		top: 50%;
		left: 100%;
		transform: translate(5px, -50%);
	}
	&:before {
		bottom: auto;
		left: 100%;
		top: 10px;
		/* @include triangle( left, theme('colors.black'), 10px) */
	}
}

[data-tooltip-size="small"],
.tooltip--small {
	&:after {
		white-space: normal;
		width: 80px;
	}
}

[data-tooltip-size="medium"],
.tooltip--medium {
	&:after {
		white-space: normal;
		width: 150px;
	}
}

[data-tooltip-size="large"],
.tooltip--large {
	&:after {
		white-space: normal;
		width: 250px;
	}
}

[data-tooltip-type="success"],
.tooltip--success {
	&:after {
		@apply bg-green-500;
		@apply text-white;
	}
	&:before {
		/* @include triangle( bottom, theme('colors.green.500'), 10px) */
	}
}

[data-tooltip-type="warning"],
.tooltip--warning {
	&:after {
		@apply bg-yellow-300;
		@apply text-white;
	}
	&:before {
		/* @include triangle( bottom, theme('colors.yellow.300'), 10px) */
	}
}

[data-tooltip-type="error"],
.tooltip--error {
	&:after {
		@apply bg-red-600;
		@apply text-white;
	}
	&:before {
		/* @include triangle( bottom, theme('colors.red.600'), 10px) */
	}
}

[data-tooltip-style="rounded"],
.tooltip--rounded {
	&:after {
		border-radius: 5px;
	}
}

.tooltip--visible {
	&:after,
	&:before {
		opacity: 1;
	}

	&:hover {
		&:after,
		&:before {
			animation: none;
			opacity: 1;
		}
	}
}
