.widget {
	@apply mb-6;
	@apply pb-6;

	&:last-child {
		border-bottom: 0;
	}
}

.widgettitle {

}

.widget_top_rated_products {

}

.product_list_widget {
	list-style-type: none;
	margin: 0;

	li {
		@apply mb-6;
	}
}