html {
	font-family: $font-primary;
	font-size: em($font-base);
	line-height: $line-height;
	height: 100%;
	color: $grey;
	background-color: $light-grey;
}

body {
	height: 100%;
}

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}


*,
:before,
:after {
	box-sizing: border-box;
}


::selection {
 	background: $light-blue;
	text-shadow: none;
}


a {
	color: $grey;

	&:hover {
		color: $dark-grey;
		text-decoration: none;
	}
}


ul,
ol {
	margin: 0 0 em(16px) 0;
	padding: 0;

	li {
		margin-left: em(16px);
	}
}


dl {
	dt {}
	dd {}
}


img,
video,
object {
	height: auto;
	max-width: 100%;
}