html {
	font-family: $font-primary;
	font-size: em($font-base);
	line-height: $line-height;
	height: 100%;
	color: $grey;
}

body {
	height: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

*,
:before,
:after {
	box-sizing: border-box;
}

::selection {
 	background: $light-blue;
	text-shadow: none;
}

img,
video,
object {
	height: auto;
	max-width: 100%;
}
