.button {

	display: inline-block;
	margin: 0 0 em($font-base) 0;
	padding: em(8px) em(8px);
	border: none;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	transition: all .15s;
	text-decoration: none;

	&:visited {

	}

	&:hover {

	}

	&:active {
		outline: none;
	}

	&--small {
		font-size: 85%;
	}

	&--large {
		font-size: 120%;
	}

	&--bold {
		font-weight: bold;
	}

	&--full {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: center;
	}

	&--centered {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--rounded {
		border-radius: $button-radius;
	}

	&--pill {
		border-radius: 1000px;
	}

	&--float {
		position: relative;
		background: none;
		transition: all 0.2s ;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
	}

	&--float:hover {
		transform: scale(1.1,1.1);
		box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
	}

	&--outline {
		border-width: $button-border;
		border-style: solid;
	}

	&--transparent {
		background-color: transparent !important;
	}

	&[disabled],
	&--disabled {
		opacity: 0.4;
		pointer-events: none;
		cursor: not-allowed;
	}

	@each $key, $value in $button {
		&--#{$key} {
			background-color: nth( map-get($value, background), 1 );
			color: nth( map-get($value, text), 1 );
			border-color: nth( map-get($value, border), 1 );
		}
		&--#{$key}:hover,
		&--#{$key}--active {
			background: nth( map-get($value, background), 2 );
			color: nth( map-get($value, text), 2 );
			border-color: nth( map-get($value, border), 2 );
		}
	}

}
