@if $debug-mq {

	body:after {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 999;
		padding: 2px 5px;
		background-color: rgba($black, 0.7);
		color: $white;

		$statesNames : gridle_get_states_names();

		@each $name in $statesNames {

			$query: gridle_get_media_query($name);

			@include gridle_state ( #{$name} ) {
				content: "#{$name}: #{$query}";
			}

		}

	}

}
