form {

}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

label,
legend {
	display: block;

	&.required:after {
		content: " *";
	}
}

input,
textarea,
select {
	display: block;
	margin: 0 0 em(20px) 0;
	padding: em(6px) em(4px);
	outline: none;
	border: 1px solid $grey-light;
	background: $white;
	color: $grey;
	font-family: $font-primary;
	width: 100%;
	border-radius: 0;

	&:focus,
	&:active {
		border: 1px solid #aaa;
		box-shadow: 0 0 3px rgba(0,0,0,.2);
		color: #444;
	}

	&[disabled] {
		border-color: $grey-light;
		opacity: 0.6;
		cursor: not-allowed;
	}
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	border: 0;
	width: auto;
	margin: 0 10px 0 0;
}

input[type="button"],
input[type="submit"] {
	@extend .button;
	@extend .button--primary;
}

select {
	width: auto;
	max-width: 100%;
}

textarea {
	min-height: em(160px);
	max-width: 100%;
	resize: vertical;
}

::-webkit-input-placeholder {
	color: $grey-light;
}

:-moz-placeholder {
	color: $grey-light;
	opacity: 1;
}

::-moz-placeholder {
	color: $grey-light;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $grey-light;
}
