@include ritmo-baseline;

html,
body {
	font-family: $font-primary;
	color: $color-black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	//min-height: 100vh;
	// height: 100vh;
}

html {

	&.is-loading {
		overflow: hidden;
		// cursor: wait;
	}

	&.is-loaded {
		overflow: hidden;
	}

	&.has-scroll-smooth {
		overflow: hidden;
	}

	&.has-scroll-dragging {
		user-select: none;
	}

	&.is-loader-complete {

		&:not(.has-scroll-smooth) {
			overflow: auto;
		}

		&.is-minicart-open {
			overflow-y: hidden;
		}

		&.is-search-open {
			overflow: hidden;
		}

	}

}

body {

	.is-loading &,
	.is-search-open & {
		overflow-y: hidden;
	}

	.has-scroll-smooth & {
		overflow: hidden;
	}

	.is-loader-complete & {
		overflow-y: auto;
	}

}

*,
:before,
:after {
	box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img,
video,
object {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}
