html,
body {
	font-family: $font-primary;
	color: $color-black;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	// height: 100vh;
}

body {
	padding-top: ritmo(4);

	@include media('>=md') {
		padding-top: 0;
	}

	&.body--home {
		padding-top: ritmo(3);

		@include media('>=md') {
			padding-top: 0;
		}
	}

	&.is-loading {
		overflow-y: hidden;
	}

	&.is-loader-complete {
		overflow-y: visible;
	}

}

*,
:before,
:after {
	box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img,
video,
object {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}
