/* Typography */
$line-height: 1.4;
$font-base: 16px;

/* Font stacks */
$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: "Andale Mono", AndaleMono, monospace;

/* Paths */
$path-img: '../img/';
$path-fonts: '../fonts/';

/* Colors */
$white: #ffffff;
$black: #000000;
$light-grey: #eeeeee;
$grey: #666666;
$dark-grey: #222222;
$light-blue: #b3d4fc;
$gold: #ab9457;
$light-green: #5cbc97;

$color-primary: $grey;
$color-secondary: $light-green;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

/* Media queries */
$mq-xs: em(480px);
$mq-sm: em(768px);
$mq-md: em(992px);
$mq-lg: em(1200px);

/* Grid */
$grid-settings : (
	context : 12,
	gutter-width : 20px,
	classes : true,
	debug : false,
	debug-show-class-names : true,
	ie7-support : false,
	html-states-classes : false,
	generate-push-classes : true,
	generate-pull-classes : true,
	generate-prefix-classes : true,
	generate-suffix-classes : true,
	generate-helpers-classes : true
);

$grid-xs-name : xs ;
$grid-xs-settings : (
	context : 12,
	min-width : $mq-xs,
	gutter-width : 20px
);

$grid-sm-name : sm ;
$grid-sm-settings : (
	context : 12,
	min-width : $mq-sm,
	gutter-width : 20px
);

$grid-md-name : md ;
$grid-md-settings : (
	context : 12,
	min-width : $mq-md,
	gutter-width : 20px
);

$grid-lg-name : lg ;
$grid-lg-settings : (
	context : 12,
	min-width : $mq-lg,
	gutter-width : 20px
);

/* Buttons */
$btn-radius: em(4px);
$btn-size-ratio: 1.2;
$btn-background: (
	primary: $color-secondary,
	secondary: #7f8c8d,
	success: #27ae60,
	danger: #c0392b,
	warning: #f1c40f
);
$btn-background-hover: (
	primary: $color-primary,
	secondary: #7f8c8d,
	success: #000,
	danger: #c0392b,
	warning: #f1c40f
);
$btn-text-color: (
	primary: $white,
	secondary: $white,
	success: #27ae60,
	danger: #c0392b,
	warning: #f1c40f
);
$btn-text-color-hover: (
	primary: $white,
	secondary: #7f8c8d,
	success: #27ae60,
	danger: #c0392b,
	warning: #f1c40f
);

/* Modal */
$colorbox-bg: #fff;
$colorbox-overlay: #000;
$colorbox-text: #F3F3F3;
$colorbox-button: #9fa7a9;
$colorbox-button-hover: #788083;
$colorbox-button-dark: #333;

/* Slider */
$slider-bg: #fff;
$slider-paging: rgba(0,0,0,0.5);
$slider-paging-hover: rgba(0,0,0,0.7);
$slider-paging-active: rgba(0,0,0,0.9);

$slick-font-path: "../fonts/";
$slick-font-family: "slick";
$slick-loader-path: $path-img;
$slick-arrow-color: white;
$slick-dot-color: black;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: '\2190';
$slick-next-character: '\2192';
$slick-dot-character: '\2022';
$slick-dot-size: 16px;
$slick-opacity-default: .75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: .25;

/* Debug */
$debug-mq: true;
