table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	table-layout: fixed;
	max-width: 100%;
	width: 100%;
}

caption {
	text-align-last: left;
}

thead {

}

tbody {

}

tfoot {

}

th,
td {
	border: 1px solid $grey-light;
	padding: em(14px) em(8px);
}

th {
	font-weight: bold;
	text-align: left;
}

td {

}

tr,
td,
th {
	vertical-align: middle;
}
