// Headings
h1,
h2,
h3,
h4 {
	font-weight:normal;
}

h1,
.h1 {
	font-size: em(32px);
}

h2,
.h2 {
	font-size: em(24px);
}

h3,
.h3 {
	font-size: em(18px);
}

h4,
.h4 {
	font-size: em(13px);
}

h5,
.h5 {
	font-size: em(12px);
}

// Text
p,
dl,
ol,
ul  {
	font-size: $font-base;
}

// Blockquote
blockquote {
	margin: em(21px) em(10px);
	padding: em(12px) em(10px);
	quotes: "\201C""\201D""\2018""\2019";

	&:before {
		content: open-quote;
		font-size: em(50px);
		line-height: em(1px);
		margin-right: em(4px);
		vertical-align: - em(6px);
	}

	p {
		display: inline;
	}

}

// Cite
cite {
	color: $grey;
	font-style: italic;

	&:before {
		content: '\2014 \00A0';
	}
}

// Hr
hr {
	border-bottom: 1px solid $grey;
	border-left: none;
	border-right: none;
	border-top: none;
	margin: em(21px) 0;
}
