/* Typography */

$line-height: 1.4;
$font-base: 16px;


/* Font stacks */

$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;;
$font-monospace: "Andale Mono", AndaleMono, monospace;


/* Directory */

$dir-img: 'img';


/* Colors */

$white: #ffffff;
$black: #000000;
$grey: #444444;
$light-grey: #F3F3F3;
$dark-grey: #222222;


/* Media query*/

$mq-xs: em(480px);
$mq-sm: em(768px);
$mq-md: em(992px);
$mq-lg: em(1200px);


/* Colorbox */

$colorbox-bg: #fff;
$colorbox-overlay: #000;
$colorbox-text: #F3F3F3;
$colorbox-button: #9fa7a9;
$colorbox-button-hover: #788083;
$colorbox-button-dark: #333;


/* Flexslider */

$flexslider-bg: #fff;
$flexslider-paging: rgba(0,0,0,0.5);
$flexslider-paging-hover: rgba(0,0,0,0.7);
$flexslider-paging-active: rgba(0,0,0,0.9);
