// Grid setup ( http://gridle.org )

@include gridle_setup((
	context : 12,
	gutter-width : 20px,
	classes : true,
	debug : false,
	debug-show-class-names : true,
	ie7-support : false,
	html-states-classes : false,
	generate-push-classes : true,
	generate-pull-classes : true,
	generate-prefix-classes : true,
	generate-suffix-classes : true,
	generate-helpers-classes : true
));


// Register media queries breakpoint

@include gridle_register_state ( xs , (
	min-width : $mq-xs,
	gutter-width : 20px
) );

@include gridle_register_state ( sm , (
	min-width : $mq-sm,
	gutter-width : 20px
) );

@include gridle_register_state ( md , (
	min-width : $mq-md,
	gutter-width : 20px
) );

@include gridle_register_state ( lg , (
	min-width : $mq-lg,
	gutter-width : 20px
) );


// Generate all classes for html use

//@include gridle_generate_classes();