// FADE IN DOWN
[data-scroll-animation="fade-in-down"] {
	opacity: 0;
	transform: translateY($offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;
		}
	
	}
}

// FADE IN UP
[data-scroll-animation="fade-in-up"] {
	opacity: 0;
	transform: translateY(-$offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;
		}
	
	}

}

// FADE IN RIGHT
[data-scroll-animation="fade-in-right"] {
	opacity: 0;
	transform: translateX($offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;
		}
	
	}

}

// FADE IN LEFT
[data-scroll-animation="fade-in-left"] {
	opacity: 0;
	transform: translateX(-$offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;
		}
	
	}

}

// ZOOM IN
[data-scroll-animation="zoom-in"] {
	opacity: 0;
	transform: scale(2);
	transition: opacity 0.6s $easing, transform 2s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;
		}

	}

}

// FADE IN DOWN STAGGERED
[data-scroll-animation="fade-in-down-staggered"] {
	opacity: 0;
	transform: translateY($offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;

			@for $i from 1 through 20 {
				&:nth-child(#{$i}){
					transition-delay: $i*0.15s;
				}
			}
		}

	}

}

// FADE IN UP STAGGERED
[data-scroll-animation="fade-in-up-staggered"] {
	opacity: 0;
	transform: translateY(-$offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;

			@for $i from 1 through 20 {
				&:nth-child(#{$i}){
					transition-delay: $i*0.15s;
				}
			}
		}

	}

}

// FADE IN RIGHT STAGGERED
[data-scroll-animation="fade-in-right-staggered"] {
	opacity: 0;
	transform: translateX($offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;

	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;

			@for $i from 1 through 20 {
				&:nth-child(#{$i}){
					transition-delay: $i*0.15s;
				}
			}
		}

	}

}

// FADE IN LEFT STAGGERED
[data-scroll-animation="fade-in-left-staggered"] {
	opacity: 0;
	transform: translateX(-$offset-animation);
	transition: opacity 0.6s $easing, transform 0.6s $easing;
	will-change: transform;
	
	.is-loader-complete & {

		&.is-inview {
			transform: none;
			opacity: 1;

			@for $i from 1 through 20 {
				&:nth-child(#{$i}){
					transition-delay: $i*0.15s;
				}
			}
		}

	}

}

// ZOOM IN
[data-scroll-animation="zoom-in-staggered"] {

	figure {
		opacity: 0;
		transform: scale(1.4);
		transition: opacity 0.6s $easing, transform 0.6s $easing;
		will-change: transform;
	}

	.is-loader-complete & {

		&.is-inview {

			figure {
				transform: none;
				opacity: 1;
			}

			@for $i from 1 through 20 {
				&:nth-child(#{$i}){
					figure {
						transition-delay: $i*0.2s;
					}
				}
			}

		}

	}

}



.example {
	display: block;
	height: 200px;
	width: 200px;
	line-height: 200px;
	text-align: center;
	background: $color-black;
	color: $color-white;
}



[data-scroll-animation="comparison"] {

	.comparison__section {
	  position: relative;
	  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
	}

	.comparison__media {
		width: 100%;
		height: 100%;
	}

	.comparison__img {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.comparison__after-media {
		position: absolute;
		overflow: hidden;
		top: 0;
		transform: translate(100%, 0px);

		.comparison__img {
			transform: translate(-100%, 0px);
		}
	}


}
  