@keyframes shake {

	0% {
		transform: translate(-10px, 0);
	}

	25% {
		transform: translate(10px, 0);
	}

	50% {
		transform: translate(-10px, 0);
	}

	75% {
		transform: translate(10px, 0);
	}

	100% {
		transform: translate(-10px, 0);
	}

}
