// Align none
%alignnone,
.alignnone {
	margin: em(5px) em(20px) em(20px) 0;
}

// Align center
%aligncenter,
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

// Align left
%alignleft,
.alignleft {
	float: left;
	margin-right: em(21px);
}

// Align right
%alignright,
.alignright {
	float: right;
	margin-left: em(21px);
}

// Centered text
%centered,
.centered {
	text-align: center;
}

// Image replacement
%ir,
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}

}

// Hide visually and from screen readers
%hidden,
.hidden {
	display: none !important;
}

// Hide only visually, but have it available for screen readers
%visuallyhidden,
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard
	&%focusable:active,
	&.focusable:active,
	&%focusable:focus,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

// Hide visually and from screen readers, but maintain layout
%invisible
.invisible {
	visibility: hidden;
}

// Clearfix: contain floats
%clearfix,
.clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

}

// Iframe responsive
%iframe-responsive,
.iframe-responsive {
	@include aspect-ratio(16, 9);
}
